doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title MD
    link(rel='apple-touch-icon', href='http://demo.squidix.com/construct/images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='http://demo.squidix.com/construct/images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='http://demo.squidix.com/construct/images/apple-touch-icon-114x114.png')
    //if lt IE 9
      script(src='scripts/ie9.js')
        IE7_PNG_SUFFIX=".png";
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='../../stylesheets/style.css')
    link(rel='stylesheet', href='../../stylesheets/responsive.css')
    script(src='../../scripts/jquery.min.js')
    script(src='../../scripts/jquery.bxSlider.min.js')
    script(src='../../scripts/jquery.blackandwhite.min.js')
    script(src='../../scripts/js_func.js')
    script(src='../../scripts/jquery.faq.js')
    script(src='../../scripts/jquery.simpleFAQ-0.7.min.js')
    script.
      $(function () {
        $('#accordions').dltoggle();
        $("#open").click(function (event) {
          $('#accordions').dltoggle_show();
          return false;
        });
        $("#close").click(function (event) {
          $('#accordions').dltoggle_hide();
          return false;
        });
        $('#faq').simpleFAQ();
        $('.bwWrapper').BlackAndWhite({
          hoverEffect: true,
          webworkerPath: false,
          responsive: true,
          invertHoverEffect: false
        });
      });
    script.
      $(function () {
        $('.features_slider').bxSlider({
          auto: false,
          displaySlideQty: 5,
          moveSlideQty: 1,
          speed: 1000
        });
        $('.intro_slider').bxSlider({
          auto: false,
          controls: false,
          mode: 'fade',
          pager: true
        });
        $('.bwWrapper').BlackAndWhite({
          hoverEffect: true,
          webworkerPath: false,
          responsive: true,
          invertHoverEffect: false
        });
      });
  body
    .wraper
      header.header
        a.logo(href='../../index.html')
          img(src='../../files/2012/08/logo.png')
        nav#mobilenav
          .menu-top-container
            select#menu-top.menu.dropdown-menu
              option.blank(value='') — Menú —
              option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24.menu-item-depth-0(value='') Home
              option.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23.menu-item-depth-0(value='quienes-somos-.html') Quiénes Somos
              option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66.menu-item-depth-0(value='#') Área Personas
              option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-182.menu-item-depth-1(value='portfolio/portfolio-filtered/index.html') GPTW
              option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-50.menu-item-depth-1(value='short-codes/boxes/index.html') Certificaciones
              option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49.menu-item-depth-1(value='short-codes/tabs/index.html') Contacto
        nav#defaultnav
          .menu-top-container
            ul#menu-top-1.menu
              li#menu-item-24.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24
                a(href='../../index.html') Home
              li#menu-item-23.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23
                a(href='../../quienes-somos-.html') Quiénes Somos
              li#menu-item-66.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66
                a(href='../../area-personas.html') Área Personas
              li#menu-item-26.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-26
                a(href='../../gptw.html') GPTW
              li#menu-item-1049.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1049
                a(href='../../certificaciones.html') Certificaciones
              li#menu-item-28.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-28
                a(href='../../contacto.html') Contacto
    .content_block
      // top_title
      .top_title
        .fallback(style='display: block;')
          img(style='width: 100%;', src='../../images/banners/BannersMDTyE.jpg', alt='')
      // /top_title
      .wraper
        h3(style='font-size:12px; padding-top:5px; padding-bottom:12px; margin: 0 0 24px 0; font-weight:normal;\
                                              border-bottom: 1px solid #e7e6e6;')
          a(href='biostetic-servicios.html') Biostetic
          |   > Maquillajes
        // intro text
        // Horizontal Tabs
        .process2.horizontal_tabs
          h4(style='font-size:20px;')
            a(style='color:#333', name='ancla') Maquillajes
          #h_tabs.c_after
            ul.tab_select
              li
                a(href='#htab-1') Tractores
              li
                a(href='#htab-1') Tractores
              li
                a(href='#htab-1') Tractores
              li
                a(href='#htab-1') Tractores
              li
                a(href='#htab-1') Tractores
            #htab-1
              p
                img(src='../../images/equipos/imgTyEMineria.jpg', width='690', height='238')
                br
                br
              h3 Carraro
              br
              br
              | TLB1 | TLB2
              p
        // /Horizontal Tabs
        .faq_list3.faq_list_marg
          ul#faq
            li
              p.question
                a(href='#ancla2')
                  input.btn_m(type='submit', value='Cotizar')
              a(name='ancla2')
              .answer
                p
                  // Formulario
                  form#contacto(name='contacto', action='../../enviar.php', method='POST')
                    p
                      label
                        | Nombre
                        input#nombre(name='nombre', type='text', size='46')
                    p
                      label
                        | Empresa
                        input#empresa(name='empresa', type='text', size='45')
                    p
                      label
                        | E-mail
                        input#mail(name='mail', type='text', size='48')
                    p
                      label
                        | Mensaje
                        br
                        textarea#mensaje(name='mensaje', cols='40', rows='8')
                    p
                      input.btn_m(type='submit', name='Submit', value='Enviar')
      // /intro text
    // footer
    .footer
      footer
        // bottom about
        .bottom_about
          p
            img(src='../../images/logo.png', alt='')
          p
            | Servir con excelencia y contribuir
            br
            | para un mundo mejor.
          .social_icons
            ul.small
              li
                a.facebook(href='https://www.facebook.com/pages/Maestranza-Diesel-SA/508791009228088?fref=ts', target='_blank') facebook
              li
                a.tweeter(href='https://twitter.com/MdChile', target='_blank') tweeter
              li
                a.in(href='http://www.linkedin.com/company/maestranza-diesel-s.a.', target='_blank') in
              li
                a.baby(href='https://vimeo.com/user20654795') baby
        // /bottom about
        // recent tweets
        .recent_tweets
          a.twitter-timeline(href='https://twitter.com/MdChile', data-widget-id='407956005285163008', data-link-color='#cc0000', data-aria-polite='assertive', width='250', height='300', leng='ES') Tweets por @MdChile
          script.
            !function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
              if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
              }
            }(document, "script", "twitter-wjs");
        // /recent tweets
        // recent posts
        .recent_posts
          h3
            span Especialidades
          ul
            li
              a(href='negocios/md-aire/aire-servicios.html') MD Aire Comprimido
            li
              a(href='negocios/md-energia/energia-servicios.html') MD Energía
            li
              a(href='negocios/md-transmiciones/transmiciones-servicios.html')
                | MD Transmisiones y Ejes
            li
              a(href='negocios/md-fluidos/fluidos-servicios.html') MD Fluidos
            li
              a(href='negocios/md-maestranza/maestranza-servicios.html') MD Maestranza
        // /recent posts
        // subscribe block
        .subscribe_block
          h3
            span Contáctanos
          form#contacto(name='contacto', action='enviarok.php', method='POST')
            p
              input#nombre(name='nombre', type='text', placeholder='Nombre', size='42')
            p
              input#mail(name='mail', type='text', placeholder='Mail', size='43')
            p
              input#mensaje(name='mensaje', type='text', placeholder='Mensaje')
            p
              input#enviarButton(type='button', value='Enviar', onclick='enviar();', style='cursor: pointer !important; ')
        // /subscribe block
    // copyright
    .copyright
      .wraper
        p
          span Copyright 2013 MD
          | Todo los derechos reservados
        a.top(href='../../index.html#') Top
    // /copyright
    // /footer
                                      