
extends ../../partials/product

block vars
  - var title='Bombas de aspiración'

block product-vars
  - var title = 'Bombas de aspiración'
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/respiratorio', text:'Respiratorio'})
  - breadcrumbs.push({url:'/medica/ginecologia/ecografos', text:'Bombas de Aspiración'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "ASKIR 20", "fullname": "Bomba de aspiración ASKIR 20 (Italia)", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "
  - product.features.push("Motor: Bomba de pistón libre de mantenimiento y lubricación.")
  - product.features.push("Tensión de alimentación 230V-50Hz.")
  - product.features.push("Vacío máximo (ajustable)  -0.75 Bar -75 kPa -563 mmHg.")
  - product.features.push("Flujo de Aire Libre 16l/min (máxima velocidad).")
  - product.features.push("Nivel de Ruido 60,5 dBA")
  - product.features.push("Ciclo de Trabajo")
  - product.features.push("Servicio permanente")
  - product.features.push("Peso 2.50 Kg.")
  - product.features.push("Dimensiones 35 x 21 x 18 cm.")
  - product.features.push("Sistema de Frasco de recolección intercambiable con sistema valvula de desagüe (de 1 o 2 Lts).")
  - product.features.push("Certificaciones: IEC, ISO, CE.")
  - products.push(product)
  - product = {"name": "ASKIR 30", "fullname": "Bomba de Aspiración Portátil Marca CA-MI, Modelo ASKIR 30. Procedencia Italia.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  //- product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "
  - product.features.push("Incluye nivel de protección IP21")
  - product.features.push("Configurado según norma EN 60601-1-1-11 (para uso en Atención Domiciliaria. Sistema)")
  - product.features.push("Sistema de Frasco de recolección intercambiable con sistema valvula de desagüe (de 1 o 2 Lts)")
  - product.features.push("Certificaciones: IEC, ISO, CE")
  - products.push(product)
  - product = {"name": "ASKIR 230BR", "fullname": "Bomba de Aspiración Portátil Marca CA-MI, Modelo ASKIR 230/12V BR con Bateria. Procedencia Italiana.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Unidad de succión eléctrica de sobremesa para la aspiración de fluidos corporales, orales, nasales y aspiración traqueal en adultos o niños."
  - product.features.push("Diseñada para uso en ambulancias")
  - product.features.push("Con Alarma por bajo nivel de batería")
  - product.features.push("Sistema de Frasco de recolección intercambiable con sistema valvula de desagüe (de 1 o 2 Lts)")
  - product.features.push("Certificaciones: IEC, ISO, CE.")
  - products.push(product)
  - product = {"name": "ASKIR36BR", "fullname": "Bomba de Aspiración Portátil Marca CA-MI, Modelo ASKIR 36 BR con Bateria. Procedencia Italiana", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "ASKIR 36BR es una unidad de aspiración portátil para la aspiración de líquidos corporales, oral, nasal y la aspiración traqueal en adultos o niños.  Para uso profesional y con una poderosa aspiración de máximo 36 l / min, ASKIR 36BR es ligero para un fácil transporte.  Tres opciones diferentes para la operación: Adaptador AC / DC, batería recargable y 12V hace un versátil."
  - product.features.push("Equipada con vacuometro (bar & kPa)")
  - product.features.push("Regulador de vacío")
  - product.features.push("Lleva grado de protección IP21")
  - product.features.push("Receptáculo de contaminados")
  - product.features.push("Cumple con la norma EN 60601-1-11 (para su uso en el entorno de atención médica a domicilio)")
  - product.features.push("Certificaciones: IEC, ISO, CE.")
  - products.push(product)
  - product = {"name": "ASKIR C30BR", "fullname": "Bomba de aspiración ASKIR C30BR", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "
  - product.features.push("Motor: Bomba de pistón libre de mantenimiento y lubricación.")
  - product.features.push("Vacío máximo (ajustable) -0.80 Bar -80kPa -600mmHg.")
  - product.features.push("Flujo de Aire Libre 40 l/min (máxima velocidad).")
  - product.features.push("Nivel de Ruido 61,5 dBA.")
  - product.features.push("Ciclo de Trabajo Servicio permanente.")
  - product.features.push("Peso 6,2 Kg.")
  - product.features.push("Dimensiones 38x 92 x 36 cm.")
  - product.features.push("Sistema de Frascos de recolección intercambiable con sistema valvula de desagüe (de 2 o 4 Lts).")
  - product.features.push("Certificaciones: IEC, ISO, CE.")
  - product.features.push("Configuración: Askir C30 Basic: con 2 Frascos de 2000 ml en Policarbonato.")
  - product.features.push("Configuración: Askir C30 FS: con 2 Frascos de 2000 ml en Policarbonato + Mando pedal.")
  - products.push(product)
  - product = {"name": "ASKIR C30", "fullname": "Bomba de Aspiración Portátil Marca CA-MI, Modelo ASKIR C 30. Procedencia Italiana", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "ASKIR C30 BR es una unidad de succión portátil para la aspiración de fluidos corporales, orales, nasales y aspiración traqueal en adultos y niños. Para uso profesional y con una poderosa aspiración hasta 36 l/min. La askir C30 BR está configurada con doble frasco y con carrito para el fácil transporte. "
  - product.features.push("Adaptador AC/DCo")
  - product.features.push("Batería recargable")
  - product.features.push("Equipado con alarma visual y acústica para avisar de nivel paso de bacterias.")
  - product.features.push("El equipo dispone también de vacuometro (medido en bar y kPa)")
  - product.features.push("Regulador de vacío")
  - product.features.push("Certificaciones: IEC, ISO, CE.")
  - products.push(product)













