
extends ../../partials/product

block vars
  - var title='Nebulizadores'

block product-vars
  - var title = 'Nebulizadores'
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica/productos', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/respiratorio', text:'Respiratorio'})
  - breadcrumbs.push({url:'/medica/respiratorio/nebulizadores', text:'Nebulizadores'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "Nebulizador Clineb", "fullname": "Nebulizador Portátil Marca CA-MI, Modelo CLINEB. Procedencia Italiana.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  //- product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "
  - product.features.push("Motor: Bomba de pistón libre de mantenimiento y lubricación.")
  - product.features.push("Tensión de alimentación: 230V-50Hz.")
  - product.features.push("Presión máxima: 2.5Bar -36 psi -250 kPa.")
  - product.features.push("Presión Operativa: 1.3 Bar – 18.9 psi -120 kPa.")
  - product.features.push("Flujo de Aire máximo: 16 l/min.")
  - product.features.push("Flujo de Aire operación: 5,2 l/min.")
  - product.features.push("Índice de nebulización: 0,5 ml/min.")
  - product.features.push("Fracción Respirable (<5 um)> 70%.")
  - product.features.push("Ciclo de Trabajo: Servicio permanente. Nivel de Ruido: 57 dBa.")
  - product.features.push("Peso: 2,2 Kg.")
  - product.features.push("Dimensiones: 25 x 19 x 16 cm.")
  - product.features.push("Equipado con regulador de flujo y manómetro.")
  - product.features.push("Certificaciones:	IEC, ISO, CE.")
  - products.push(product)
  - product = {"name": "Nebulizador Clineb basic", "fullname": "Nebulizador Portátil Marca CA-MI, Modelo CLINEB BASIC. Procedencia Italiana.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  //- product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "
  - product.features.push("Motor: Bomba de pistón libre de mantenimiento y lubricación.")
  - product.features.push("Tensión de alimentación: 230V-50Hz.")
  - product.features.push("Presión máxima: 2.5Bar -36 psi -250 kPa.")
  - product.features.push("Presión Operativa: 1.3 Bar – 18.9 psi – 120 kPa.")
  - product.features.push("Flujo de Aire máximo: 16 l/min.")
  - product.features.push("Flujo de Aire operación: 5,2 l/min.")
  - product.features.push("Índice de nebulización: 0,5 ml/min.")
  - product.features.push("Fracción Respirable (<5 um)> 70%.")
  - product.features.push("Ciclo de Trabajo: Servicio permanente.")
  - product.features.push("Nivel de Ruido: 57dBa..")
  - product.features.push("Peso: 2,2 Kg.")
  - product.features.push("El equipo dispone de un compartimiento amplio para guardar los accesorios y medicamentos. ")
  - product.features.push("Certificaciones:	IEC, ISO, CE.")
  - products.push(product)