doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      title MD Area Personas
      link(rel='apple-touch-icon', href='http://demo.squidix.com/construct/images/apple-touch-icon.png')
      link(rel='apple-touch-icon', sizes='72x72', href='http://demo.squidix.com/construct/images/apple-touch-icon-72x72.png')
      link(rel='apple-touch-icon', sizes='114x114', href='http://demo.squidix.com/construct/images/apple-touch-icon-114x114.png')
      //if lt IE 9
        script(src='scripts/ie9.js')
          IE7_PNG_SUFFIX=".png";
      link(rel='stylesheet', href='stylesheets/style.css')
      link(rel='stylesheet', href='stylesheets/responsive.css')
      script(src='scripts/jquery.min.js')
      script(src='scripts/jquery.bxSlider.min.js')
      script(src='scripts/jquery.faq.js')
      script(src='scripts/jquery.blackandwhite.min.js')
      script(src='scripts/js_func.js')
      script.
         $(function(){
            $('.clients_slider').bxSlider({
               auto: false,
               controls : false,
               mode: 'fade',
               pager: true
            });
            $('.recent_slider').bxSlider({
               auto: false,
               displaySlideQty: 1,
               moveSlideQty: 1,
               speed : 1000
            });
            $('#faq').dltoggle( { "open-image"   : "images/open.png", "closed-image" : "images/closed.png" } );
            $("#open").click(function(event){
               $('#faq').dltoggle_show();
               return false;
            });
            $("#close").click(function(event){
               $('#faq').dltoggle_hide();
               return false;
            });
            $('.bwWrapper').BlackAndWhite({
               hoverEffect : true,
               webworkerPath : false,
               responsive:true,
               invertHoverEffect:false
            });
         })
   body
      .wraper
         header.header
            a.logo(href='index.html')
               img(src='files/2012/08/logo.png')
            nav#mobilenav
               .menu-top-container
                  select#menu-top.menu.dropdown-menu
                     option.blank(value='') — Menú —
                     option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24.menu-item-depth-0(value='') Home
                     option.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23.menu-item-depth-0(value='quienes-somos-.html') Quiénes Somos
                     option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66.menu-item-depth-0(value='#') Área Personas
                     option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-182.menu-item-depth-1(value='portfolio/portfolio-filtered/index.html') GPTW
                     option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-50.menu-item-depth-1(value='short-codes/boxes/index.html') Certificaciones
                     option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49.menu-item-depth-1(value='short-codes/tabs/index.html') Contacto
            nav#defaultnav
               .menu-top-container
                  ul#menu-top-1.menu
                     li#menu-item-24.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24
                        a(href='index.html') Home
                     li#menu-item-23.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23
                        a(href='quienes-somos-.html') Quiénes Somos
                     li#menu-item-66.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66
                        a(href='area-personas.html') Área Personas
                     li#menu-item-26.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-26
                        a(href='gptw.html') GPTW
                     li#menu-item-1049.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1049
                        a(href='certificaciones.html') Certificaciones
                     li#menu-item-28.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-28
                        a(href='contacto.html') Contacto
      .content_block
         // top_title
         .top_title
            .fallback(style='display: block;')
               img(style='width: 100%;', src='images/banners/BannersMDAreaPERS.jpg', alt='')
         // /top_title
         .wraper
            // blog entries full
            .blog_entries.blog_entries_full
               .post.post_medium(style='margin-bottom:20px;')
                  .img_wrap.bwWrapper
                     a(href='blog_post.html')
                        img(src='images/noticias/NOT1.jpg', width='426', height='238', alt='')
                  .desc
                     h4
                        a(href='blog_post.html') Area Personas
                     p
                        | Fugiat dapibus, tellus ac cursus commodo, mauesris uns condime ntum nibh, ut fermentum mas justo sitters sit amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, impedit quo minus id quodsir maxime placeat , omnis dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets untras ochoc neuav. Fugiat dapibus, tellus ac cursus commodo, mauesris uns condime ntum nibh, ut fermentum mas justo sitters sit amet risus. Cras mattis cosi sectetut amet fermens tum aecenas faucib sadips amets. Libero tempore, impedit quo minus id quodsir maxime placeat , omnis dolor repellendus sadips ipsums fugiats vitae voluptas dolores amets untras ochoc neuav.
                  .buttons
                     a(href='http://www.md.trabajando.com/index.cfm', target='_blank')
                        input.btn_m(style='margin-top:32px; margin-left:10px;', type='submit', value='Enviar CV')
            // /blog entries full
      // footer
      .footer
         footer
            // bottom about
            .bottom_about
               p
                  img(src='images/logo.png', alt='')
               p
                  | Servir con excelencia y contribuir
                  br
                  | para un mundo mejor.
               .social_icons
                  ul.small
                     li
                        a.facebook(href='https://www.facebook.com/pages/Maestranza-Diesel-SA/508791009228088?fref=ts', target='_blank') facebook
                     li
                        a.tweeter(href='https://twitter.com/MdChile', target='_blank') tweeter
                     li
                        a.in(href='http://www.linkedin.com/company/maestranza-diesel-s.a.', target='_blank') in
                     li
                        a.baby(href='https://vimeo.com/user20654795') baby
            // /bottom about
            // recent tweets
            .recent_tweets
               a.twitter-timeline(href='https://twitter.com/MdChile', data-widget-id='407956005285163008', data-link-color='#cc0000', data-aria-polite='assertive', width='250', height='300', leng='ES') Tweets por @MdChile
               script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            // /recent tweets
            // recent posts
            .recent_posts
               h3
                  span Especialidades
               ul
                  li
                     a(href='negocios/biosmed/aire-servicios.html') MD Aire Comprimido
                  li
                     a(href='negocios/md-energia/energia-servicios.html') MD Energía
                  li
                     a(href='negocios/biostetic/transmiciones-servicios.html')
                        | MD Transmisiones y Ejes
                  li
                     a(href='negocios/md-fluidos/fluidos-servicios.html') MD Fluidos
                  li
                     a(href='negocios/md-maestranza/maestranza-servicios.html') MD Maestranza
            // /recent posts
            // subscribe block
            .subscribe_block
               h3
                  span Contáctanos
               form#contacto(name='contacto', action='enviarok.php', method='POST')
                  p
                     input#nombre(name='nombre', type='text', placeholder='Nombre', size='42')
                  p
                     input#mail(name='mail', type='text', placeholder='Mail', size='43')
                  p
                     input#mensaje(name='mensaje', type='text', placeholder='Mensaje')
                  p
                     input#enviarButton(type='button', value='Enviar', onclick='enviar();', style='cursor: pointer !important; ')
            // /subscribe block
      // /subscribe block
      // copyright
      .copyright
         .wraper
            p
               span Copyright 2014 MD
               |  Todo los derechos reservados
            a.top(href='index.html#') Ir arriba
      // /copyright
      // /footer
