doctype html
html(lang='en')
   head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
      title MD Contacto
      link(rel='apple-touch-icon', href='http://demo.squidix.com/construct/images/apple-touch-icon.png')
      link(rel='apple-touch-icon', sizes='72x72', href='http://demo.squidix.com/construct/images/apple-touch-icon-72x72.png')
      link(rel='apple-touch-icon', sizes='114x114', href='http://demo.squidix.com/construct/images/apple-touch-icon-114x114.png')
      //if lt IE 9
        script(src='scripts/ie9.js')
          IE7_PNG_SUFFIX=".png";
      link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='stylesheets/style.css')
      link(rel='stylesheet', href='stylesheets/responsive.css')
      script(src='scripts/jquery.min.js')
      script(src='scripts/jquery.bxSlider.min.js')
      script(src='scripts/jquery.faq.js')
      script(src='scripts/jquery.blackandwhite.min.js')
      script(src='scripts/js_func.js')
      script(src='scripts/jquery.simpleFAQ-0.7.min.js')
      script.
         $(function(){
            $('#accordions').dltoggle();
            $("#open").click(function(event){
               $('#accordions').dltoggle_show();
               return false;
            });
            $("#close").click(function(event){
               $('#accordions').dltoggle_hide();
               return false;
            });
            $('#faq').simpleFAQ();
            $('.bwWrapper').BlackAndWhite({
               hoverEffect : true,
               webworkerPath : false,
               responsive:true,
               invertHoverEffect:false
            });
         });
   body
      .wraper
         header.header
            a.logo(href='index.html')
               img(src='files/2012/08/logo.png')
            nav#mobilenav
               .menu-top-container
                  select#menu-top.menu.dropdown-menu
                     option.blank(value='') — Menú —
                     option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24.menu-item-depth-0(value='') Home
                     option.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23.menu-item-depth-0(value='quienes-somos-.html') Quiénes Somos
                     option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66.menu-item-depth-0(value='#') Área Personas
                     option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-182.menu-item-depth-1(value='portfolio/portfolio-filtered/index.html') GPTW
                     option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-50.menu-item-depth-1(value='short-codes/boxes/index.html') Certificaciones
                     option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49.menu-item-depth-1(value='short-codes/tabs/index.html') Contacto
            nav#defaultnav
               .menu-top-container
                  ul#menu-top-1.menu
                     li#menu-item-24.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24
                        a(href='index.html') Home
                     li#menu-item-23.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23
                        a(href='quienes-somos-.html') Quiénes Somos
                     li#menu-item-66.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66
                        a(href='area-personas.html') Área Personas
                     li#menu-item-26.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-26
                        a(href='gptw.html') GPTW
                     li#menu-item-1049.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1049
                        a(href='certificaciones.html') Certificaciones
                     li#menu-item-28.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-28
                        a(href='contacto.html') Contacto
      .content_block
         .wraper
            // blog entries full
            .blog_entries.blog_entries_full
               .post
                  .img_wrap.bwWrapper
                     .date Desde 1942
                     a(href='blog_post.html')
                        img(src='images/sucursales/Contacto Ubicacion MD.jpg', width='950', height='342', alt='')
                  .desc
                     h4
                        a(href='blog_post.html') Casa Matriz Santiago de Chile Maestranza Diesel
                     p
                        | Maestranza Diesel comenzó sus operaciones el 1º de mayo de 1942, con el nombre de Estación de Servicios “Berna”, dedicada a la reparación de carros del Cuerpo de Bomberos,  grupos generadores de electricidad y la fabricación de repuestos en general.
                        br
                        br
                     table(cellspacing='0', cellpadding='0')
                        tbody
                           tr
                              td(width='80', height='20')
                                 strong Dirección:
                              td(width='215') Santa Elena 1433
                           tr
                              td(height='20')
                                 strong Fono:
                              td (56 02) 2 550 2000
                           tr
                              td(height='20')
                                 strong Fax:
                              td (56 02) 2 555 0938
                           tr
                              td(height='20')
                                 strong E-mail:
                              td
                                 a(href='mailto:susconsultas@md.cl', target='_blank') susconsultas@md.cl
                     br
                     a(style='float:left;', href='https://maps.google.cl/maps?q=Calle+Sta+Elena+1433,+Santiago&hl=es&ll=-33.461521,-70.629559&spn=0.010293,0.019076&sll=-33.460733,-70.629644&sspn=0.020587,0.038152&hq=Calle+Sta+Elena+1433,+Santiago&radius=15000&t=m&z=16', target='_blank')
                        img(src='images/Google-Maps-Logo.png', width='40', height='40')
                     p
                        br
                        br
               .team_option.team_option2
                  ul
                     li
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoStgo.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href='https://maps.google.cl/maps?q=Carrera+67+No.+64+-+200++Barranquilla+-+Colombia&hl=es&ie=UTF8&ll=11.002892,-74.790523&spn=0.005592,0.009538&sll=-12.049687,-77.113209&sspn=0.005571,0.009538&hnear=Carrera+67+%23+68-64,+Atl%C3%A1ntico,+Colombia&t=m&z=17', target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Colombia
                              br
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20', align='left', valign='top')
                                       strong Dirección:
                                    td(width='215')
                                       | Carrera 67 No. 64 - 200, Bodega 5
                                       br
                                       |               Zona Industrial La Loma 3, Vía 40 por entrada Eternit
                                       br
                                       |               Barranquilla - Colombia
                                 tr
                                    td(align='left', valign='middle')  
                                    td  
                                 tr
                                    td(height='20', align='left', valign='middle')
                                       strong Fono:
                                    td
                                       span(lang='es', xml:lang='es') (+57 5) 2 368 33 29
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:ventas.colombia@md.cl') ventas.colombia@md.cl
                           p  
                     li(style='height: 465px;')
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoSucursal.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href='https://maps.google.cl/maps?q=AV.+Argentina+6190+6194,+Callao+01+Lima+Peru&hl=es&ie=UTF8&ll=-12.049687,-77.113209&spn=0.005571,0.009538&sll=-33.461521,-70.629559&sspn=0.002376,0.004769&hnear=Av+Argentina,+Per%C3%BA&t=m&z=17', target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Lima Perú
                              br
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20')
                                       strong Dirección:
                                    td(width='215') Av. Argentina 6190 6194, Callao 01
                                 tr
                                    td(height='20')
                                       strong Fono:
                                    td
                                       span(lang='es', xml:lang='es') (511) 452 6802 / 627 7154
                                 tr
                                    td(height='20')
                                       strong Fax:
                                    td
                                       span(lang='es', xml:lang='es') 464 6027
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:info@md.com.pe') info@md.com.pe
                           p  
                     li
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoStgo.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href="https://maps.google.cl/maps?q=O'Higgins+%23+584,+Iquique&hl=es&ie=UTF8&ll=-20.217643,-70.154271&spn=0.002673,0.004769&sll=-20.219717,-70.152555&sspn=0.002673,0.004769&hnear=O'Higgins,+Iquique,+Tarapac%C3%A1&t=m&z=18\
                  ", target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Iquique
                              br
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20', align='left', valign='middle')
                                       strong Dirección:
                                    td(width='215') O'Higgins 584
                                 tr
                                    td(height='20', align='left', valign='middle')
                                       strong Fono:
                                    td
                                       span(lang='es', xml:lang='es') (56-57) 2 42 08 29
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:susconsultas@md.cl') susconsultas@md.cl
                           p  
                     li(style='height: 400px;')
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoSucursal.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href='https://www.google.cl/maps/preview#!q=Juan+Glasinovic+485%2C+Antofagasta&data=!4m15!1m14!4m8!1m3!1d7312!2d-70.385715!3d-23.597221!3m2!1i1024!2i768!4f13.1!10b1!26m3!1e12!1e13!1e3', target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Antofagasta
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20')
                                       strong Dirección:
                                    td(width='215') Juan Glasinovic 485
                                 tr
                                    td(height='20')
                                       strong Fono:
                                    td (56 55) 2 354 900
                                 tr
                                    td(height='20')
                                       strong Fax:
                                    td (56 55) 2 354 990
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:susconsultas@md.cl', target='_blank') susconsultas@md.cl
                           p  
                     li
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoStgo.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href='https://maps.google.cl/maps?q=Av.+Panamericana+Sur+200+-+Copiapo&hl=es&ie=UTF8&ll=-27.381066,-70.316019&spn=0.005059,0.009538&sll=-20.217643,-70.154271&sspn=0.002673,0.004769&hq=Av.+Panamericana+Sur+200+-&hnear=Copiap%C3%B3,+Provincia+de+Copiap%C3%B3,+Regi%C3%B3n+de+Atacama&t=m&z=17', target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Copiapo
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20')
                                       strong Dirección:
                                    td(width='215') Av. Panamericana Sur 200 - Local A4
                                 tr
                                    td(height='20')
                                       strong Fono:
                                    td (56-52) 2 23 60 18
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:susconsultas@md.cl', target='_blank') susconsultas@md.cl
                           p  
                     li
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoSucursal.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href='https://maps.google.cl/maps?q=Los+Aceres+43+miraflores,++Vi%C3%B1a+del+Mar&hl=es&ie=UTF8&ll=-33.045868,-71.561047&spn=0.004775,0.009538&sll=-27.381066,-70.316019&sspn=0.005059,0.009538&hq=Los+Aceres&hnear=Miraflores+43,+Vi%C3%B1a+del+Mar,+Valpara%C3%ADso&t=m&z=17', target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Valparaiso
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20', valign='top')
                                       strong Dirección:
                                    td(width='215')
                                       | Los Aceres 43 Miraflores Bajo, 
                                       br
                                       | 	          Viña del Mar
                                 tr
                                    td(height='20')
                                       strong Fono:
                                    td (56 32) 2 452 6802
                                 tr
                                    td(height='20')
                                       strong Fax:
                                    td (56 32) 2 452 6803
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:susconsultas@md.cl', target='_blank') susconsultas@md.cl
                           p  
                     li(style='height: 450px;')
                        .img.bwWrapper
                           img(src='images/sucursales/ContactoStgo.jpg', width='442', height='227', alt='')
                        .desc
                           a(style='float:right;', href='https://maps.google.cl/maps?q=N%C2%BA+5580+M%C3%B3dulo+17,++San+Pedro+de+la+Paz.+concepcion&hl=es&ie=UTF8&ll=-33.461521,-70.629559&spn=0.002376,0.004769&sll=-23.597223,-70.385714&sspn=0.005221,0.009538&hq=N%C2%BA+5580+M%C3%B3dulo+17,++San+Pedro+de+la+Paz.+concepcion&radius=15000&t=m&z=18', target='_blank')
                              img(src='images/Google-Maps-Logo.png', width='40', height='40')
                           p
                              strong(style='font-size:20px;') MD Concepción
                           table(cellspacing='0', cellpadding='0')
                              tbody
                                 tr
                                    td(width='80', height='20')
                                       strong Dirección:
                                    td(width='215')
                                       | Megacentro, Camino a Coronel, Km. 10
                                       br
                                       | 	          Nº 5580 Módulo 17, San Pedro de la Paz.
                                 tr
                                    td(height='20')
                                       strong Fono:
                                    td (56 41) 2 279 8500
                                 tr
                                    td(height='20')
                                       strong Fax:
                                    td (56 41) 2 279 8508
                                 tr
                                    td(height='20')
                                       strong E-mail:
                                    td
                                       a(href='mailto:susconsultas@md.cl', target='_blank') susconsultas@md.cl
                           p  
               // pager_nav
               // /pager_nav
            // /blog entries full
      // footer
      // social block
      // /social block
      .footer
         footer
            // bottom about
            .bottom_about
               p
                  img(src='images/logo.png', alt='')
               p
                  | Servir con excelencia y contribuir
                  br
                  | para un mundo mejor.
               .social_icons
                  ul.small
                     li
                        a.facebook(href='https://www.facebook.com/pages/Maestranza-Diesel-SA/508791009228088?fref=ts', target='_blank') facebook
                     li
                        a.tweeter(href='https://twitter.com/MdChile', target='_blank') tweeter
                     li
                        a.in(href='http://www.linkedin.com/company/maestranza-diesel-s.a.', target='_blank') in
                     li
                        a.baby(href='https://vimeo.com/user20654795') baby
            // /bottom about
            // recent tweets
            .recent_tweets
               a.twitter-timeline(href='https://twitter.com/MdChile', data-widget-id='407956005285163008', data-link-color='#cc0000', data-aria-polite='assertive', width='250', height='300', leng='ES') Tweets por @MdChile
               script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            // /recent tweets
            // recent posts
            .recent_posts
               h3
                  span Especialidades
               ul
                  li
                     a(href='negocios/biosmed/aire-servicios.html') MD Aire Comprimido
                  li
                     a(href='negocios/md-energia/energia-servicios.html') MD Energía
                  li
                     a(href='negocios/biostetic/transmiciones-servicios.html')
                        | MD Transmisiones y Ejes
                  li
                     a(href='negocios/md-fluidos/fluidos-servicios.html') MD Fluidos
                  li
                     a(href='negocios/md-maestranza/maestranza-servicios.html') MD Maestranza
            // /recent posts
            // subscribe block
            .subscribe_block
               h3
                  span Contáctanos
               form#contacto(name='contacto', action='enviarok.php', method='POST')
                  p
                     input#nombre(name='nombre', type='text', placeholder='Nombre', size='42')
                  p
                     input#mail(name='mail', type='text', placeholder='Mail', size='43')
                  p
                     input#mensaje(name='mensaje', type='text', placeholder='Mensaje')
                  p
                     input#enviarButton(type='button', value='Enviar', onclick='enviar();', style='cursor: pointer !important; ')
            // /subscribe block
      // copyright
      .copyright
         .wraper
            p
               span Copyright 2014 MD
               |  Todo los derechos reservados
            a.top(href='index.html#') Ir arriba
      // /copyright
      // /footer
