footer.hidden-md.hidden-lg
  .container-fluid
    .row.well
      ul.list-unstyled.row
        li.col-xs-3
          a.btn.btn-default.btn-fab.btn-raised.fa.fa-facebook
        li.col-xs-3
          a.btn.btn-default.btn-fab.btn-raised.fa.fa-twitter
        li.col-xs-3
          a.btn.btn-default.btn-fab.btn-raised.fa.fa-linkedin
        li.col-xs-3
          a.btn.btn-default.btn-fab.btn-raised.fa.fa-vine
      .clearfix
      p
        small BIOSCOM CHILE Ltda. 2015  Todo los derechos reservados
footer.hidden-sm.hidden-xs
  .container-fluid
    .row.well
      .container
        .col-md-4
          h1
            img.default-size.img-responsivei(src="/img/logo.png")
          p Slogan corporativo
          p
            ul.list-unstyled.social-network
              li.pull-left
                a
                  i.fa.fa-facebook
              li.pull-left
                a
                  i.fa.fa-twitter
              li.pull-left
                a
                  i.fa.fa-linkedin
              li.pull-left
                a
                  i.fa.fa-vine
        .col-md-4
          h3 Especialidades
          ul.speciality.list-unstyled
            li
              a Biosmed
            li
              a Industrial
            li
              a Biostetic

        .col-md-4
          h3 Contactanos
          .form-group
            input.form-control(type="text", placeholder="Nombre")
            input.form-control(type="email", placeholder="Correo")
            textarea.form-control(placeholder="Mensaje")
            button.btn-raised.btn.btn-primary Enviar


      .text-right.col-md-12
        small BIOSCOM CHILE Ltda. 2015  Todo los derechos reservados
