.footer
   footer
      // bottom about
      .bottom_about
         p
            img(src='images/logo.png', alt='')
         p Slogan Corporativo.
         .social_icons
            ul.small
               li
                  a.facebook(href='https://www.facebook.com', target='_blank') facebook
               li
                  a.tweeter(href='https://twitter.com', target='_blank') tweeter
               li
                  a.in(href='http://www.linkedin.com', target='_blank') in
               li
                  a.baby(href='https://vimeo.com') baby
      // /bottom about
      // recent tweets
      // /recent tweets
      // recent posts
      .recent_posts
         h3
            span Especialidades
         ul
            li
               a(href='negocios/biosmed/aire-servicios.html') BiosMed
            li
               a(href='negocios/md-energia/energia-servicios.html') Industrial
            li
               a(href='negocios/biostetic/transmiciones-servicios.html') Biostetic
      // /recent posts
      // subscribe block
      .subscribe_block
         h3
            span Contáctanos
         form#contacto(name='contacto', action='enviarok.php', method='POST')
            p
               input#nombre(name='nombre', type='text', placeholder='Nombre', size='42')
            p
               input#mail(name='mail', type='text', placeholder='Correo', size='43')
            p
               input#mensaje(name='mensaje', type='text', placeholder='Mensaje')
            p
               input#enviarButton(type='button', value='Enviar', onclick='enviar();', style='cursor: pointer !important; ')
      // /subscribe block
// copyright
.copyright
   .wraper
      p
         span BIOSCOM CHILE Ltda. 2015
         |  Todo los derechos reservados
      a.top(href='index.html#') Ir arriba