
extends ../../partials/product

block vars
  - var title='Cloro'

block product-vars
  - var title = 'Cloro'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/reactivo', text:'Reactivo'})
  - breadcrumbs.push({url:'/industrial/reactivo/cloro', text:'Cloro'})
  - var products = []
  - var product = {"name": "PPD2", "fullname": "PPD2", "features":[], "img": "/img/equipos/ppd2.jpg", "downloadLink": "#"}
  - product.info = "Reactivo DPD para análisis de cloro libre y total con formato (patentado) de dispensador"
  - products.push(product)
  - product = {"name": "JAW", "fullname": "JAW", "features":[], "img": "/img/equipos/jaw.jpg", "downloadLink": "#"}
  - product.info = "Reactivo DPD para análisis de cloro libre y total para equipos de proceso Hach y HF Scientific"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










