
extends ../../partials/product

block vars
  - var title='Colposcopia'

block product-vars
  - var title = 'Colposcopia'
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/ginecologia', text:'Ginecologia'})
  - breadcrumbs.push({url:'/medica/ginecologia/monitores', text:'Colposcopia'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "Wallach 1H", "fullname": "Wallach 1H", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "El sistema de iluminación halógena de fibra óptica del ColpoStar, único en los Colposcopio de una sola amplificación, produce una iluminación de los tejidos en un tono natural, con una luz blanca, clara ye fría, para realizar un examen colposcópico preciso. El ColpoStar 1H ofrece precisión, óptica estereoscópica sin distorsión, amplificación única óptima, campo visual amplio, y gran profundidad de campo. Este colposcopio tiene un poste central compacto con ajuste de altura con mecanismo fino y grueso, y una base de cinco puntos para estabilidad y maniobrabilidad entre las áreas de examen. El ColpoStar es un colposcopio de un solo aumento, asequible, de alta calidad."
  - product.features.push("Magnificaciones de campo 12X 20mm")
  - product.features.push("Campo de visión de 18mm")
  - product.features.push("Sistema de iluminación halógeno")
  - products.push(product)
  - product = {"name": "Wallach Triscope", "fullname": "Wallach Triscope", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Cabeza que entrega imágenes 3D (tridimensionales) para detectar tejidos anormales escondidos y un trabajo colposcópico directo en biopsias y cirugía con una optima coordinación mano/ojo. La óptica provee una visión directa e incorpora doble apertura emisora de luz para documentación y enseñanza.  Uso simultaneo de una video cámara y tubo de enseñanza o cámara fotográfica de 35 mm. El brazo de suspensión esta fuera del área de trabajo del médico y del paciente, facilitando así el acceso sin obstáculos, mientras se realizan los procedimientos colposcópicos de biopsia o LLETZ. Angulo de rotación del brazo 270°. Luz fría mediante sistema de iluminación TRULIGH sin transformador. Transmisión de luz por cable de fibra óptica, incluido en el interior del brazo móvil, lo que protege a la fibra óptica de posibles daños. Para una máxima vida útil de la ampolleta, el sistema incorpora un termostato protector de el bulbo."
  - product.features.push("Filtro verde incorporado")
  - product.features.push("Distancia de trabajo de 350mm")
  - product.features.push("No incluye cámara")
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")
  - products.push(product)











