
extends ../../partials/product

block vars
  - var title='Amoniaco'

block product-vars
  - var title = 'Amoniaco'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/electrodos', text:'Electrodos'})
  - breadcrumbs.push({url:'/industrial/electrodos/amoniaco', text:'Amoniaco'})
  - var products = []
  - var product = {"name": "5002A-10C", "fullname": "5002A-10C", "features":[], "img": "/img/equipos/5002a-10c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para an치lisis de Amoniaco"
  - products.push(product)


//- product.features.push("Recept치culo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elecci칩n")
  //- product.features.push("Peso M치ximo 225 Kg.")










