
extends ../../partials/product

block vars
  - var title='Cloruro'

block product-vars
  - var title = 'Cloruro'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/electrodos', text:'Electrodos'})
  - breadcrumbs.push({url:'/industrial/electrodos/cloruro', text:'Cloruro'})
  - var products = []
  - var product = {"name": "6560-10C", "fullname": "6560-10C", "features":[], "img": "/img/equipos/6560-10c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Cloruro"
  - products.push(product)
  - var product = {"name": "8002-10C", "fullname": "8002-10C", "features":[], "img": "/img/equipos/8002-10c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Cloruro"
  - products.push(product)


//- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










