
extends ../../partials/product

block vars
  - var title='Conductividad'

block product-vars
  - var title = 'Conductividad'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/electrodos', text:'Electrodos'})
  - breadcrumbs.push({url:'/industrial/electrodos/conductividad', text:'Conductividad'})
  - var products = []
  - var product = {"name": "3551-10D", "fullname": "3551-10D", "features":[], "img": "/img/equipos/355110d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "3552-10D", "fullname": "3552-10D", "features":[], "img": "/img/equipos/355210d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "3553-10D", "fullname": "3553-10D", "features":[], "img": "/img/equipos/355310d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "9382-10D", "fullname": "9382-10D", "features":[], "img": "/img/equipos/938210d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "3561-10D", "fullname": "3561-10D", "features":[], "img": "/img/equipos/356110d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "3562-10D", "fullname": "3562-10D", "features":[], "img": "/img/equipos/356210d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "3573-10C", "fullname": "3573-10C", "features":[], "img": "/img/equipos/357310c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)
  - var product = {"name": "3574-10C", "fullname": "3574-10C", "features":[], "img": "/img/equipos/357410c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de Conductividad"
  - products.push(product)

//- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










