
extends ../../partials/product

block vars
  - var title='pH'

block product-vars
  - var title = 'pH'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/electrodos', text:'Electrodos'})
  - breadcrumbs.push({url:'/industrial/electrodos/ph', text:'pH'})
  - var products = []
  - var product = {"name": "9615-10D", "fullname": "9615-10D", "features":[], "img": "/img/equipos/961510d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9618-10D", "fullname": "9618-10D", "features":[], "img": "/img/equipos/961810d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9680-10D", "fullname": "9680-10D", "features":[], "img": "/img/equipos/968010d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9681-10D", "fullname": "9681-10D", "features":[], "img": "/img/equipos/968110d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9625-10D", "fullname": "9625-10D", "features":[], "img": "/img/equipos/962510d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "6367-10D", "fullname": "6367-10D", "features":[], "img": "/img/equipos/636710d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "6377-10D", "fullname": "6377-10D", "features":[], "img": "/img/equipos/637710d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "6252-10D", "fullname": "6252-10D", "features":[], "img": "/img/equipos/625210d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "6069-10C", "fullname": "6069-10C", "features":[], "img": "/img/equipos/606910c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "6261-10C", "fullname": "6261-10C", "features":[], "img": "/img/equipos/626110c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "1066A-10C", "fullname": "1066A-10C", "features":[], "img": "/img/equipos/1066a10c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "1076A-10C", "fullname": "1076A-10C", "features":[], "img": "/img/equipos/1076a10c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9631-10D", "fullname": "9631-10D", "features":[], "img": "/img/equipos/963110d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9632-10D", "fullname": "9632-10D", "features":[], "img": "/img/equipos/963210d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)
  - var product = {"name": "9630-10D", "fullname": "9630-10D", "features":[], "img": "/img/equipos/963010d.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para análisis de pH."
  - products.push(product)

//- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










