
extends ../../partials/product

block vars
  - var title='Sulfuro'

block product-vars
  - var title = 'Sulfuro'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/electrodos', text:'Electrodos'})
  - breadcrumbs.push({url:'/industrial/electrodos/sulfuro', text:'Sulfuro'})
  - var products = []
  - var product = {"name": "8003-10C", "fullname": "8003-10C", "features":[], "img": "/img/equipos/8003-10c.jpg", "downloadLink": "#"}
  - product.info = "Electrodo con conector universal BNC para an치lisis de Sulfuro"
  - products.push(product)


//- product.features.push("Recept치culo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elecci칩n")
  //- product.features.push("Peso M치ximo 225 Kg.")










