
extends ../../partials/product

block vars
  - var title='Potenciales Evocados Auditivos '
block product-vars
  - var title = 'Potenciales Evocados Auditivos '
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/audiologia', text:'Audiología'})
  - breadcrumbs.push({url:'/medica/audiologia/audiometros', text:'Potenciales Evocados Auditivos '})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "Audiscan Bera", "fullname": "Potenciales Evocados Auditivos Audiscan Bera.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Equipo portátil USB para registro de Potenciales Auditivos de tronco. Estimulación por clicks y ruido blanco contra-lateral."
  - product.features.push("Selección de estímulo y registro automático secuencial totalmente programable o de selección manual.")
  - product.features.push("Cambio de intensidad de estimulación de tipo gradual, libre de chasquidos. Conexión automática del oído bajo estudio (no requiere conmutar electrodos).")
  - product.features.push("Sistema de registro automático de Potenciales Evocados de Tronco basado en computador personal.")
  - product.features.push("Conectividad USB.")
  - product.features.push("Sistema Operativo: Windows 2000, XP, XP Pro.")
  - product.features.push("Medición de Impedancia: 30Hz onda cuadrada.")
  - product.features.push("Lectura en pantalla de cada electrodo.")
  - products.push(product)
  - var product = {"name": "Audiscan MST", "fullname": "Potenciales Evocados Auditívos Audiscan MST.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Equipo portátil USB para registro de Potenciales Auditivos de tronco, media y larga latencia y P300."
  - product.features.push("Estimulación por clicks, tonos, tonos logon y ruido blanco contralateral.")
  - product.features.push("Selección de estímulo y registro automático secuencial totalmente programable o de selección manual.")
  - product.features.push("Cambio de intensidad de estimulación de tipo gradual, libre de chasquidos.")
  - product.features.push("Conexión automática del oído bajo estudio (no requiere conmutar electrodos).")
  - product.features.push("Auriculares Telephonik THD 39 ó Intracanal Etymotic Research ERSA.")
  - product.features.push("PC Estacionario Pentium IV de última generación con pantalla plana de 17″ o Notebook de similares características.")
  - products.push(product)
  - var product = {"name": "Audiscan FULL", "fullname": "Potenciales Evocados Auditívos Audiscan Full.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Audiscan Advantek  Audiscan Full es un equipo portátil USB para registro de Potenciales Auditivos de tronco, media y larga latencia, P300 y Estado Estable (Steady State)."
  - product.features.push("Estimulación por clicks, tonos, tonos logon y ruido blanco contralateral.")
  - product.features.push("Selección de estímulo y registro automático secuencial totalmente programable o de selección manual.")
  - product.features.push("Estimulación biaural multitonal en estudios de Estado Estable.")
  - product.features.push("Cambio de intensidad de estimulación de tipo gradual, libre de chasquidos.")
  - product.features.push("Sistema: De registro automático de Potenciales Evocados de Tronco Basado en computador personal.")
  - product.features.push("Conexión automática del oído bajo estudio (no requiere conmutar electrodos).")
  - product.features.push("Conectividad USB.")
  - product.features.push("Sistema Operativo: Windows 2000, XP, XP Pro.")
  - product.features.push("Medición de Impedancia: 30Hz onda cuadrada.")
  - product.features.push("Lectura en pantalla de cada electrodo.")
  - product.features.push("Transductores: Eartone 3A; Eartone5A; o TDH39 (no incluidos).")
  - product.features.push("Calibración individual para cada modelo.")
  - product.features.push("Atenuador Suave: Función de variación suave de estimulación.")
  - product.features.push("Número de curvas por sesión: Hasta 32 trazos en pantalla.")
  - products.push(product)










