
extends partials/layout.jade

block vars
  - var title='Home'



block extra-scripts
  //- build:js /scripts/bioscom.js

  //- endbuild

block page-content
  - var active = 'contacto'
  include partials/navbar
  .container-fluid
    .row.bottom-offset
      img.img-responsive(src="/img/banners/BannersMDAreaPERS.jpg")
  //section.jumbotron.header.text-center
  .row.bottom-offset-half

  .container
    form(role='form', action='', method='post')
      .col-md-offset-3.col-md-6
        h3 Contáctenos
        .well.well-sm
          strong
            i.glyphicon.glyphicon-ok
            |  Campos requeridos
        .form-group
          .input-group
            input#InputName.form-control(type='text', name='InputName', placeholder='Nombre', required='')
            span.input-group-addon
              i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          .input-group
            input#InputEmail.form-control(type='email', name='InputEmail', placeholder='Email', required='')
            span.input-group-addon
              i.glyphicon.glyphicon-ok.form-control-feedback
        .form-group
          .input-group
            textarea#InputMessage.form-control(name='InputMessage', rows='5', required='', placeholder="Mensaje")
            span.input-group-addon
              i.glyphicon.glyphicon-ok.form-control-feedback
        input#submit.btn.btn-info.pull-right(type='submit', name='submit', value='Enviar')











