
extends partials/layout.jade

block vars
  - var title='Home'

block extra-scripts
  //- build:js /scripts/home.js
  script(src="/js/count.js")
  //- endbuild

block page-content
  section.jumbotron.header.text-center
    include partials/navbar





