doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title BIOSCOM CHILE Ltda
    link(rel='icon', type='image/png', href='http://demo.squidix.com/construct/../../images/favicon.ico')
    link(rel='apple-touch-icon', href='http://demo.squidix.com/construct/../../images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='http://demo.squidix.com/construct/../../images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='http://demo.squidix.com/construct/../../images/apple-touch-icon-114x114.png')
    //if lt IE 9
      script(src='../../scripts/ie9.js')
        IE7_PNG_SUFFIX = ".png";
    link(rel='stylesheet', href='../../stylesheets/style.css')
    link(rel='stylesheet', href='../../stylesheets/responsive.css')
    link(rel='stylesheet', href='../../stylesheets/prettyPhoto.css')
    script(src='../../scripts/jquery.min.js')
    script(src='../../scripts/jquery.prettyPhoto.js')
    script(src='../../scripts/jquery.blackandwhite.min.js')
    script(src='../../scripts/js_func.js')
    script.
      $(function () {
        $(".gallery a[rel^='prettyPhoto']").prettyPhoto({theme: 'dark_rounded'});
        $('.bwWrapper').BlackAndWhite({
          hoverEffect: true,
          webworkerPath: false,
          responsive: true,
          invertHoverEffect: false
        });
      })
  body
    .wraper
      header.header
        a.logo(href='index.html')
          img(src='../../images/logo.png')
        nav#mobilenav
          .menu-top-container
            select#menu-top.menu.dropdown-menu
              option.blank(value='') — Menú —
              option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24.menu-item-depth-0(value='') Home
              option.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23.menu-item-depth-0(value='quienes-somos-.html') Bioscom Chile
              option.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66.menu-item-depth-0(value='#') Trabaja con Nosotros
              option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-182.menu-item-depth-1(value='portfolio/portfolio-filtered/index.html') Representaciones
              option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-50.menu-item-depth-1(value='short-codes/boxes/index.html') Por qué Bioscom
              option.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-49.menu-item-depth-1(value='short-codes/tabs/index.html') Contacto
        nav#defaultnav
          .menu-top-container
            ul#menu-top-1.menu
              li#menu-item-24.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-24
                a(href='index.html') Home
              li#menu-item-23.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-ancestor.current-menu-parent.menu-item-23
                a(href='quienes-somos-.html') Bioscom Chile
              li#menu-item-66.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-66
                a(href='area-personas.html') Trabaja con Nosotros
              li#menu-item-26.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-26
                a(href='gptw.html') Representaciones
              li#menu-item-1049.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-1049
                a(href='certificaciones.html') Por qué Bioscom
              li#menu-item-28.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-28
                a(href='contacto.html') Contacto
    .content_block
      // top_title
      .top_title
        .fallback(style='display: block;')
          img(src='../../images/banners/BannersMDTyE.jpg', alt='')
      // /top_title
      .wraper
        a(name='ancla')
        // Short Text Layout 3 Column
        .short_text_layout.short_text_col_3.gallery(style='margin-top:30px;')
          h3(style='font-size:20px; padding-top:10px;') Ginecología
          ul
            li
              a(href='mesas-examen.html')
                .bwWrapper
                  img(src='../../images/producto/imgProducto.jpg', width='279', height='170', alt='')
                  p
                    strong Mesas de examen ginecológico
            li
              a(href='aire-distribucion-ingeneria.html')
                .bwWrapper
                  img(src='../../images/producto/ImgPRODUCTO2.jpg', width='279', height='170', alt='')
                  p
                    strong Monitores de anteparto
            li
              a(href='aire-neumatica-productos.html')
                .bwWrapper
                  img(src='../../images/producto/ImgPRODUCTO3.jpg', width='279', height='170', alt='')
                  p
                    strong Detectores de latidos fetales
            li
              a(href='aire-servicios-servicios.html')
                .bwWrapper
                  img(src='../../images/producto/imgProducto.jpg', width='279', height='170', alt='')
                  p
                    strong Ecógrafos
            li
              a(href='aire-servicios-servicios.html')
                .bwWrapper
                  img(src='../../images/producto/imgProducto.jpg', width='279', height='170', alt='')
                  p
                    strong Colposcopía
            li
              a(href='aire-servicios-servicios.html')
                .bwWrapper
                  img(src='../../images/producto/imgProducto.jpg', width='279', height='170', alt='')
                  p
                    strong Oncología
        .featured_list.client_list
          .features_slider_wrap
            h3(style='font-size:20px; padding-top:10px;') Marcas
            ul.cs.features_slider
              li
                div
                  .bwWrapper(style='border:none;')
                    a(href='shortcodes_content_sliders.html#')
                      img(src='../../images/client_logos/logo_1.jpg', alt='')
              li
                div
                  .bwWrapper(style='border:none;')
                    a(href='shortcodes_content_sliders.html#')
                      img(src='../../images/client_logos/logo_2.jpg', alt='')
              li
                div
                  .bwWrapper(style='border:none;')
                    a(href='shortcodes_content_sliders.html#')
                      img(src='../../images/client_logos/logo_4.jpg', alt='')
              li
                div
                  .bwWrapper(style='border:none;')
                    a(href='shortcodes_content_sliders.html#')
                      img(src='../../images/client_logos/logo_5.jpg', alt='')
              li
                div
                  .bwWrapper(style='border:none;')
                    a(href='shortcodes_content_sliders.html#')
                      img(src='../../images/client_logos/logo_6.jpg', alt='')
        // /Short Text Layout 3 Column
    // footer
    // social block
    // /social block
    .footer
      footer
        // bottom about
        .bottom_about
          p
            img(src='../../images/logo.png', alt='')
          p Slogan Corporativo.
          .social_icons
            ul.small
              li
                a.facebook(href='https://www.facebook.com', target='_blank') facebook
              li
                a.tweeter(href='https://twitter.com', target='_blank') tweeter
              li
                a.in(href='http://www.linkedin.com', target='_blank') in
              li
                a.baby(href='https://vimeo.com') baby
        // /bottom about
        // recent posts
        .recent_posts
          h3
            span Especialidades
          ul
            li
              a(href='negocios/biosmed/aire-servicios.html') BiosMed
            li
              a(href='negocios/md-energia/energia-servicios.html') Industrial
            li
              a(href='negocios/biostetic/transmiciones-servicios.html') Biostetic
        // /recent posts
        // subscribe block
        .subscribe_block
          h3
            span Contáctanos
          form#contacto(name='contacto', action='enviarok.php', method='POST')
            p
              input#nombre(name='nombre', type='text', placeholder='Nombre', size='42')
            p
              input#mail(name='mail', type='text', placeholder='Correo', size='43')
            p
              input#mensaje(name='mensaje', type='text', placeholder='Mensaje')
            p
              input#enviarButton(type='button', value='Enviar', onclick='enviar();', style='cursor: pointer !important; ')
        // /subscribe block
    // copyright
    .copyright
      .wraper
        p
          span BIOSCOM CHILE Ltda. 2015
          |  Todo los derechos reservados
        a.top(href='index.html#') Ir arriba
    // /copyright
    // /footer
                   