
extends ../../partials/product

block vars
  - var title='Cloro'

block product-vars
  - var title = 'Cloro'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/proceso-industrial', text:'Proceso Industrial'})
  - breadcrumbs.push({url:'#', text:'Cloro'})
  - var products = []
  - var product = {"name": "Micromac C", "fullname": "Micromac C", "features":[], "img": "/img/equipos/micromac-c.jpg", "downloadLink": "#"}
  - product.info = "Analizador de proceso industrial, modelo Micromac C"
  - products.push(product)
//  - product = {"name": "Buffer", "fullname": "Buffer", "features":[], "img": "/img/equipos/buffer.jpg", "downloadLink": "#"}
//  - product.info = "Set de estandares para calibraci칩n de pH-metros en formato de 500 ml y galon (3,48 litros)."
//  - products.push(product)
  //- product.features.push("Recept치culo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elecci칩n")
  //- product.features.push("Peso M치ximo 225 Kg.")










