
extends ../../partials/product

block vars
  - var title='Cloro Libre Total'

block product-vars
  - var title = 'Cloro Libre Total'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/proceso-industrial', text:'Proceso Industrial'})
  - breadcrumbs.push({url:'#', text:'Cloro Libre Total'})
  - var products = []
  - var product = {"name": "Micromac C", "fullname": "Micromac C", "features":[], "img": "/img/equipos/micromac-c.jpg", "downloadLink": "#"}
  - product.info = "Analizador de proceso industrial, modelo Micromac C"
  - products.push(product)
  - product = {"name": "CLX", "fullname": "CLX", "features":[], "img": "/img/equipos/clx.jpg", "downloadLink": "#"}
  - product.info = "Analiador de Cloro para proceso industrial, por metodo colorimetrico DPD."
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










