
extends ../../partials/product

block vars
  - var title='pH'

block product-vars
  - var title = 'pH'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/proceso-industrial', text:'Proceso Industrial'})
  - breadcrumbs.push({url:'#', text:'pH'})
  - var products = []
  - var product = {"name": "Micromac C", "fullname": "Micromac C", "features":[], "img": "/img/equipos/micromac-c.jpg", "downloadLink": "#"}
  - product.info = "Analizador de proceso industrial, modelo Micromac C"
  - products.push(product)
  - product = {"name": "Advantedge", "fullname": "Advantedge", "features":[], "img": "/img/equipos/advantedge.jpg", "downloadLink": "#"}
  - product.info = "Analizador de proceso industrial, sensor modelo sumergible para an치lisis de pH"
  - products.push(product)
  //- product.features.push("Recept치culo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elecci칩n")
  //- product.features.push("Peso M치ximo 225 Kg.")










