//
   Created by Kota on 04-08-2015.
extends ../partials/layout.jade

body
   div.container
      header
      div.logo
         img(src="img/logo.png", alt="logo")
      nav.menu
          a(href="a") Home
          a(href="a") Bioscom Chile
          a(href="a") Trabaja con nosotros
          a(href="a") Representaciones
          a(href="a") Por qué Bioscom
          a(href="a") Contacto

    div.banner
       img(src="img/banner.png", alt="banner")

    nav.breadcrumbs
       a(href="a") Biosmed
       a(href="a") Ginecología
       a(href="a") Mesas de examen ginecológico

    div.tituloproductos
      h1 Mesas de Examen Ginecológico

    nav.MesasdeExamenGinecológico
       a(href="a") Biosme
       a(href="a") Ginecología
       a(href="a") Mesas de examen ginecológico

   div.productoadefinir
      h2 Mesa de Examen Ginecológico Ritter 204.

   div.caracteristicas
   #container.col
       h2 Características del Producto:
       ul
         li - Respaldo Hidráulico
         li - Escabel incorporado y retráctil
         li - Taqueras retráctiles y movimiento de abanico
         li - Receptáculo de contaminados
         li - Cajones al frente y a un costado
         li - Con interruptores incorporados para enchufar equipos (220V)
         li - Color a elección
         li - Peso Máximo 225 Kg.

   div.infoadicional
      h2 Información Adicional
      p. Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud.

footer
    div.slogan
        p. Servir con excelencia y contribuir
            para un mundo mejor.

        nav.redessociales
            a(href="a") Facebook
            a(href="a") Twitter
            a(href="a") Linkedin
            a(href="a") Vimeo

    div.especialidades
        h3 Especialidades

        ul
          li  a(href="a") Biosmed
          li  a(href="a") Industrial
          li  a(href="a") Biostetic

    div.contactanos
        h3 Contáctanos
        label (for="Name") Nombre
        input (type="text", id="Name", name="Nombre", placeholder="Nombre")
        label (for="Mail") Correo
        input (type="text", id="Mail", name="Correo", placeholder="Correo")
        label (for="Message") Mensaje
        input (type="text", id="Message", name="Mensaje", placeholder="Mensaje")


