
extends ../../partials/product

block vars
  - var title='Desfibriladores'

block product-vars
  - var title = 'Desfibriladores'
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica/productos', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/cardiologia', text:'Cardiología'})
  - breadcrumbs.push({url:'/medica/cardiologia/desfibriladores', text:'Desfibriladores'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "E&M C12 B", "fullname": "Desfibrilador E&M C12 B", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Monitor y Desfibrilador. Sistema compacto que incluye registrador de ECG y pantalla LCD de Alta resolución  donde puede incluir como Opción SPO2, la batería recargable  de alta capacidad  y la posibilidad de integrar palas internas  y procedimientos  de cardioversión sincronizada, como también realizar desfibrilaciones en Pediatría hacen de este equipo una alternativa eficiente y funcional en las emergencias cardiacas, pudiendo ser utilizado en todos los departamentos del Hospital  ( UCI, UTI, Transporte, Urgencia, Pediatría, etc.).  Generando también un sumario de eventos pre y post desfibrilación."
  - product.features.push("ECG: 3 Derivaciones seleccionables  en pantalla, Velocidad de trazado 25 a 50 mm/seg., Alarma audiovisual desde 10-300 LPM., QRS audiovisual")
  - product.features.push("Energía seleccionable en Joules (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50, 75, 100, 200, 300, 360 Joules) para Palas externas.")
  - product.features.push("Energía seleccionable para Palas internas (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50 Joules)")
  - product.features.push("Full carga de 360 Joules en menos de 10 segundos")
  - product.features.push("Para uso en cualquier evento cardiaco (Taquicardia ventricular, Bradicardia, Fibrilación Ventricular, arritmias )")
  - product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  - product.features.push("Uso en pacientes ADULTOS Y PEDIATRICOS. (para pediátricos debe tener palas de ensambles pediátricas).")
  - product.features.push("Control de Carga, en Panel Frontal")
  - product.features.push("Indicador de carga Audiovisual.")
  - product.features.push("Descarga en Panel Frontal y en palas externas)")
  - product.features.push("Modo de Descarga: Directa o Cardioversión sincronizada.")
  - product.features.push("Registro: Impresora Termosensible  (papel Standard de 50mm), ECG impreso en tiempo real con datos de parámetros capturados, Sumario de Eventos ocurridos (reporte de atención completa), Reporte de Descargas realizadas")
  - product.features.push("SpO2:Tecnología BCI, Método espectrofotométrico, Rango: 0% a 100%, Alarmas configurables de 0% a 100% en pasos de 5%")
  - product.features.push("Energía:  220V – 50 Mz y 12 Vdc externo")
  - product.features.push("Posibilidad de conección a enchufe de ambulancia (12Volts)")
  - product.features.push("Batería:  12Vdc/4ª")
  - product.features.push("Autonomía: 4 Horas de monitoreo ó 40 descargas a 360 Joules, Recarga de 100% en 24 horas y 70% en 4 horas, Indicador visual de Batería Baja.")
  - product.features.push("Consumo 120 Watts")
  - product.features.push("LCD, 4,70” x 3,55”  con control de contraste")
  - product.features.push("37x16x46 cms.")
  - product.features.push("9,6 Klg.")
  - products.push(product)
  - product = {"name": "E&M C12 R", "fullname": "Desfibrilador E&M C12 R", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Monitor y Desfibrilador. Sistema compacto que incluye registrador de ECG y pantalla LCD de Alta resolución  donde puede incluir como Opción SPO2, la batería recargable  de alta capacidad  y la posibilidad de integrar palas internas  y procedimientos  de cardioversión sincronizada, como también realizar desfibrilaciones en Pediatría hacen de este equipo una alternativa eficiente y funcional en las emergencias cardiacas, pudiendo ser utilizado en todos los departamentos del Hospital  ( UCI, UTI, Transporte, Urgencia, Pediatría, etc.).  Generando también un sumario de eventos pre y post desfibrilación."
  - product.features.push("ECG: 3 Derivaciones seleccionables  en pantalla, Velocidad de trazado 25 a 50 mm/seg., Alarma audiovisual desde 10-300 LPM., QRS audiovisual")
  - product.features.push("Energía seleccionable en Joules (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50, 75, 100, 200, 300, 360 Joules) para Palas externas.")
  - product.features.push("Energía seleccionable para Palas internas (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50 Joules)")
  - product.features.push("Full carga de 360 Joules en menos de 10 segundos")
  - product.features.push("Para uso en cualquier evento cardiaco (Taquicardia ventricular, Bradicardia, Fibrilación Ventricular, arritmias )")
  - product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  - product.features.push("Uso en pacientes ADULTOS Y PEDIATRICOS. (para pediátricos debe tener palas de ensambles pediátricas).")
  - product.features.push("Control de Carga, en Panel Frontal")
  - product.features.push("Indicador de carga Audiovisual.")
  - product.features.push("Descarga en Panel Frontal y en palas externas)")
  - product.features.push("Modo de Descarga: Directa o Cardioversión sincronizada.")
  - product.features.push("Registro: Impresora Termosensible  (papel Standard de 50mm), ECG impreso en tiempo real con datos de parámetros capturados, Sumario de Eventos ocurridos (reporte de atención completa), Reporte de Descargas realizadas")
  - product.features.push("SpO2:Tecnología BCI, Método espectrofotométrico, Rango: 0% a 100%, Alarmas configurables de 0% a 100% en pasos de 5%")
  - product.features.push("Energía:  220V – 50 Mz y 12 Vdc externo")
  - product.features.push("Posibilidad de conección a enchufe de ambulancia (12Volts)")
  - product.features.push("Batería:  12Vdc/4ª")
  - product.features.push("Autonomía: 4 Horas de monitoreo ó 40 descargas a 360 Joules, Recarga de 100% en 24 horas y 70% en 4 horas, Indicador visual de Batería Baja.")
  - product.features.push("Consumo 120 Watts")
  - product.features.push("LCD, 4,70” x 3,55”  con control de contraste")
  - product.features.push("37x16x46 cms.")
  - product.features.push("9,6 Klg.")
  - product.features.push("Incluye: CABLE ECG 03 DERIVACIONES, BATERIA INTERNA  AUTONOMIA 4 HORAS, 01 PAR DE PALAS ADULTO, Adaptador Pediátrico, Impresora Gráfica para ECG y Sumario de Eventos, MANUAL USO EN CASTELLANO, PAPEL INSCRIPTOR, CABLE DE PODER, CABLE CONEXION  A 12Volts (en ambulancia)")
  - products.push(product)
  - product = {"name": "E&M C12 S", "fullname": "Desfibrilador E&M C12 S", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Monitor y Desfibrilador. Sistema compacto que incluye registrador de ECG y pantalla LCD de Alta resolución  donde puede incluir como Opción SPO2, la batería recargable  de alta capacidad  y la posibilidad de integrar palas internas  y procedimientos  de cardioversión sincronizada, como también realizar desfibrilaciones en Pediatría hacen de este equipo una alternativa eficiente y funcional en las emergencias cardiacas, pudiendo ser utilizado en todos los departamentos del Hospital  ( UCI, UTI, Transporte, Urgencia, Pediatría, etc.).  Generando también un sumario de eventos pre y post desfibrilación."
  - product.features.push("ECG: 3 Derivaciones seleccionables  en pantalla, Velocidad de trazado 25 a 50 mm/seg., Alarma audiovisual desde 10-300 LPM., QRS audiovisual")
  - product.features.push("Energía seleccionable en Joules (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50, 75, 100, 200, 300, 360 Joules) para Palas externas.")
  - product.features.push("Energía seleccionable para Palas internas (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50 Joules)")
  - product.features.push("Full carga de 360 Joules en menos de 10 segundos")
  - product.features.push("Para uso en cualquier evento cardiaco (Taquicardia ventricular, Bradicardia, Fibrilación Ventricular, arritmias )")
  - product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  - product.features.push("Uso en pacientes ADULTOS Y PEDIATRICOS. (para pediátricos debe tener palas de ensambles pediátricas).")
  - product.features.push("Control de Carga, en Panel Frontal")
  - product.features.push("Indicador de carga Audiovisual.")
  - product.features.push("Descarga en Panel Frontal y en palas externas)")
  - product.features.push("Modo de Descarga: Directa o Cardioversión sincronizada.")
  - product.features.push("Registro: Impresora Termosensible  (papel Standard de 50mm), ECG impreso en tiempo real con datos de parámetros capturados, Sumario de Eventos ocurridos (reporte de atención completa), Reporte de Descargas realizadas")
  - product.features.push("SpO2:Tecnología BCI, Método espectrofotométrico, Rango: 0% a 100%, Alarmas configurables de 0% a 100% en pasos de 5%")
  - product.features.push("Energía:  220V – 50 Mz y 12 Vdc externo")
  - product.features.push("Posibilidad de conección a enchufe de ambulancia (12Volts)")
  - product.features.push("Batería:  12Vdc/4ª")
  - product.features.push("Autonomía: 4 Horas de monitoreo ó 40 descargas a 360 Joules, Recarga de 100% en 24 horas y 70% en 4 horas, Indicador visual de Batería Baja.")
  - product.features.push("Consumo 120 Watts")
  - product.features.push("LCD, 4,70” x 3,55”  con control de contraste")
  - product.features.push("37x16x46 cms.")
  - product.features.push("9,6 Klg.")
  - product.features.push("Incluye: CABLE ECG 03 DERIVACIONES, BATERIA INTERNA  AUTONOMIA 4 HORAS, 01 PAR DE PALAS ADULTO, Adaptador Pediátrico, Impresora Gráfica para ECG y Sumario de Eventos, MANUAL USO EN CASTELLANO, PAPEL INSCRIPTOR, CABLE DE PODER, CABLE CONEXION  A 12Volts (en ambulancia)")
  - products.push(product)
  - product = {"name": "E&M C12 RS", "fullname": "Desfibrilador E&M C12 RS", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Monitor y Desfibrilador. Sistema compacto que incluye registrador de ECG y pantalla LCD de Alta resolución  donde puede incluir como Opción SPO2, la batería recargable  de alta capacidad  y la posibilidad de integrar palas internas  y procedimientos  de cardioversión sincronizada, como también realizar desfibrilaciones en Pediatría hacen de este equipo una alternativa eficiente y funcional en las emergencias cardiacas, pudiendo ser utilizado en todos los departamentos del Hospital  ( UCI, UTI, Transporte, Urgencia, Pediatría, etc.).  Generando también un sumario de eventos pre y post desfibrilación."
  - product.features.push("ECG: 3 Derivaciones seleccionables  en pantalla, Velocidad de trazado 25 a 50 mm/seg., Alarma audiovisual desde 10-300 LPM., QRS audiovisual")
  - product.features.push("Energía seleccionable en Joules (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50, 75, 100, 200, 300, 360 Joules) para Palas externas.")
  - product.features.push("Energía seleccionable para Palas internas (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 50 Joules)")
  - product.features.push("Full carga de 360 Joules en menos de 10 segundos")
  - product.features.push("Para uso en cualquier evento cardiaco (Taquicardia ventricular, Bradicardia, Fibrilación Ventricular, arritmias )")
  - product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  - product.features.push("Uso en pacientes ADULTOS Y PEDIATRICOS. (para pediátricos debe tener palas de ensambles pediátricas).")
  - product.features.push("Control de Carga, en Panel Frontal")
  - product.features.push("Indicador de carga Audiovisual.")
  - product.features.push("Descarga en Panel Frontal y en palas externas)")
  - product.features.push("Modo de Descarga: Directa o Cardioversión sincronizada.")
  - product.features.push("Registro: Impresora Termosensible  (papel Standard de 50mm), ECG impreso en tiempo real con datos de parámetros capturados, Sumario de Eventos ocurridos (reporte de atención completa), Reporte de Descargas realizadas")
  - product.features.push("SpO2:Tecnología BCI, Método espectrofotométrico, Rango: 0% a 100%, Alarmas configurables de 0% a 100% en pasos de 5%")
  - product.features.push("Energía:  220V – 50 Mz y 12 Vdc externo")
  - product.features.push("Posibilidad de conección a enchufe de ambulancia (12Volts)")
  - product.features.push("Batería:  12Vdc/4ª")
  - product.features.push("Autonomía: 4 Horas de monitoreo ó 40 descargas a 360 Joules, Recarga de 100% en 24 horas y 70% en 4 horas, Indicador visual de Batería Baja.")
  - product.features.push("Consumo 120 Watts")
  - product.features.push("LCD, 4,70” x 3,55”  con control de contraste")
  - product.features.push("37x16x46 cms.")
  - product.features.push("9,6 Klg.")
  - product.features.push("Incluye: CABLE ECG 03 DERIVACIONES, BATERIA INTERNA  AUTONOMIA 4 HORAS, 01 PAR DE PALAS ADULTO, Adaptador Pediátrico, Impresora Gráfica para ECG y Sumario de Eventos, MANUAL USO EN CASTELLANO, PAPEL INSCRIPTOR, CABLE DE PODER, CABLE CONEXION  A 12Volts (en ambulancia)")
  - products.push(product)
  - product = {"name": "Pisos ritter", "fullname": "Pisos ritter", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Ritter, prestigiosa compañía norteamericana dedicada a la fabricación de mobiliario clínico de calidad superior, dispone de un catálogo completo de taburetes y pisos clínicos."  - product.features.push("Respaldo Hidráulico")
  //- product.features.push("Escabel incorporado y retráctil")
  //- product.features.push("Taqueras retráctiles y movimiento de abanico")
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")
  - products.push(product)











