
extends ../../partials/product

block vars
  - var title='Electrocardiógrafos'

block product-vars

  - var title = 'Electrocardiógrafos'
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica/productos', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/cardiologia', text:'Cardiología'})
  - breadcrumbs.push({url:'/medica/cardiología/polisomnografos', text:'Electrocardiógrafos'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "BIONET CARDIO 7", "fullname": "BIONET CARDIO 7", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  //- product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "
  - product.features.push("Sistema de PSG modular de alta performance")
  - product.features.push("Hasta 4 módulos de PSG y EEG combinables")
  - product.features.push("Visualizador de estudios entregable a pacientes sin costo adicional.")
  - product.features.push("Digital, telemétrico y opto-aislado.")
  - product.features.push("PSG")
  - product.features.push("15 canales, ampliable con 128 canales de EEG adicionales o hasta 60 canales de PSG.")
  - product.features.push("Oxímetro y pulsómetros incorporados.")
  - product.features.push("Acepta sensor de flujo por presión")
  - product.features.push("Entradas auxiliares para C-pap, capnografía y pH.")
  - product.features.push("Análisis y marcación automática de eventos respiratorios.")
  - product.features.push("Módulo opcional de análisis automático de fases de sueño.")
  - product.features.push("Reportes Microsoft Word / Open Office / HTML")
  - product.features.push("EEG De 2 hasta 128 canales 320 hz de frecuencia de sampleo de EEG")
  - products.push(product)
  - product = {"name": "BIONET CARDIO XP", "fullname": "BIONET CARDIO XP", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud."  - product.features.push("Respaldo manual, con asistencia de aire para levantar")
  - product.features.push("Capacidad de peso del paciente de 180 Kg")
  - product.features.push("45 a 94 cm de ajuste de altura del asiento")
  - product.features.push("Control con el pie")
  - product.features.push("Altura de 45 cm")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")
  - products.push(product)
  - product = {"name": "COMEN CM 300", "fullname": "Electrocardiógrafo marca COMEN modelo CM-300 (China)", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "3 canales con Interpretación, Diagnóstico, Mediciones y Software en español."
  - product.features.push("Liviano y compacto")
  - product.features.push("Amplia pantalla de 3,5”. Mapa de derivadas en pantalla para correcta colocación")
  - product.features.push("3 modos de operación: Automático, Manual y Análisis")
  - product.features.push("Mediciones e interpretación automáticas.")
  - product.features.push("Memoria para 150 exámenes")
  - product.features.push("Alarmas por detección de: electrodo fuera, sin papel y batería descargada")
  - product.features.push("Built-in ECG simulator")
  - product.features.push("Batería interna recargable")
  - product.features.push("Ajuste automático de línea base para un óptimo grabado")
  - product.features.push("Puerto USB para transmisión de datos")
  - product.features.push("Modos de Lead: Standard o Europeo")
  - product.features.push("Fácil entrada de datos del paciente.")
  - product.features.push("Papel de impresora de 80 mm")
  - product.features.push("Incluye: Cable de alimentación eléctrica.")
  - product.features.push("Cable paciente adulto y pediátrico")
  - product.features.push("6 electrodos precordiales reutilizables.")
  - product.features.push("4 electrodos   reutilizables de extremidades")
  - product.features.push("Rollo de papel termosensible.")
  - products.push(product)
  - product = {"name": "COMEN CM 600", "fullname": "COMEN CM 600", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "3 canales con Interpretación, Diagnóstico, Mediciones y Software en español."
  - product.features.push("Adquisición simultanea de 12 derivaciones")
  - product.features.push("Pantalla de 5,7” color, tipo Touchscreen.")
  - product.features.push("3 modos de operación: Automático, Manual y Análisis")
  - product.features.push("Mediciones e interpretación automáticas.")
  - product.features.push("Memoria para 300 exámenes")
  - product.features.push("Alarmas por detección de: electrodo fuera, sin papel y batería descargada")
  - product.features.push("Incorpora software de análisis por edad")
  - product.features.push("Batería interna recargable. 4 horas de autonomía")
  - product.features.push("Ajuste automático de línea base para un óptimo grabado")
  - product.features.push("Puerto USB para impresora")
  - product.features.push("Mediciones de ritmo cardiaco y protección para marcapasos")
  - product.features.push("Fácil entrada de datos del paciente:ID, Nombre, Edad, Peso, Estatura, Sexo, Nombre de Hospital, vía teclado QWERTY (Completo)")
  - product.features.push("Papel de impresora de 80 mm")
  - product.features.push("122 tipos de análisis de arritmias")
  - product.features.push("Multiples formatos de impresión: Manual/automático, Standard de 6 x 2 derivaciones, 3 canales x 4, 6 x 2 canales con análisis de arritmias, histograma R-R y grafica de tendencias (trend)")
  - product.features.push("Incluye: Cable de alimentación eléctrica.")
  - product.features.push("Cable paciente 10 leads")
  - product.features.push("6 electrodos precordiales ")
  - product.features.push("4 electrodos de extremidades")
  - product.features.push("2 fusibles")
  - product.features.push("2 gel conductor")
  - product.features.push("5 Resmas de papel")
  - product.features.push("Rollo de papel")
  - product.features.push("1 Carro porta-equipo con brazos para para cables de pacientes")
  - products.push(product)
  - product = {"name": "COMEN CM1200A", "fullname": "COMEN CM1200A", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "3 canales con Interpretación, Diagnóstico, Mediciones y Software en español."
  - product.features.push("Adquisición simultanea de 12 derivaciones")
  - product.features.push("Pantalla de 8,4” color, tipo Touchscreen.")
  - product.features.push("3 modos de operación: Automático, Manual y Análisis")
  - product.features.push("Mediciones e interpretación automáticas.")
  - product.features.push("Memoria para 300 exámenes")
  - product.features.push("Alarmas por detección de: electrodo fuera, sin papel y batería descargada")
  - product.features.push("Incorpora software de análisis por edad")
  - product.features.push("Batería interna recargable. 4 horas de autonomía")
  - product.features.push("Ajuste automático de línea base para un óptimo grabado")
  - product.features.push("Puerto USB para impresora")
  - product.features.push("Mediciones de ritmo cardiaco y protección para marcapasos")
  - product.features.push("Fácil entrada de datos del paciente:ID, Nombre, Edad, Peso, Estatura, Sexo, Nombre de Hospital, vía teclado QWERTY (Completo)")
  - product.features.push("Papel de impresora de 80 mm")
  - product.features.push("122 tipos de análisis de arritmias")
  - product.features.push("Multiples formatos de impresión: Manual/automático, Standard de 12 derivaciones, 3 canales + 3 precordiales, 6 canales, 6 canales con análisis de arritmias, histograma R-R y grafica de tendencias (trend)")
  - product.features.push("Incluye: Cable de tierra")
  - product.features.push("Cable paciente")
  - product.features.push("6 electrodos precordiales ")
  - product.features.push("4 electrodos de extremidades")
  - product.features.push("2 fusibles")
  - product.features.push("1 Rollo de papel")
  - products.push(product)
  - product = {"name": "COMEN 1200B", "fullname": "COMEN 1200B", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  //- product.info = "Ritter, prestigiosa compañía norteamericana dedicada a la fabricación de mobiliario clínico de calidad superior, dispone de un catálogo completo de taburetes y pisos clínicos."  - product.features.push("Respaldo Hidráulico")
  //- product.features.push("Escabel incorporado y retráctil")
  //- product.features.push("Taqueras retráctiles y movimiento de abanico")
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")
  - products.push(product)










