
extends ../partials/layout.jade

block vars
  - var title='Home'



block extra-scripts
  //- build:js /scripts/bioscom.js

  //- endbuild

block page-content
  - var active = 'qsomos'
  include ../partials/navbar-estetica
  //section.jumbotron.header.text-center
  .container.bottom-offset-half
    .row.bottom-offset-half
      .col-xs-12.no-padding
        img.img-responsive(src="/img/quienes_somos/QSMD.jpg")

    .row.bottom-offset-half
      .col-xs-12.no-padding
        h4 "Bioscom Chile Limitada – División Industrial
        p Bioscom Chile Limitada, es una empresa nacional dedicada a la importación y comercialización de productos y servicios, brindando soluciones integrales desde el año 1997 en el área de Equipos Médicos, incluyendo la medicina Veterinaria y desde Enero de 2014, dedicada a la importación de Equipos y Sistemas para análisis de Agua.
        p Cuenta como activo principal con el respaldo de las competencias, habilidades y experiencia de sus profesionales con más de 30 años de presencia en las áreas mencionadas, así como con el respaldo técnico y comercial de prestigiosas marcas a nivel mundial, de productos y equipos.
        p Su trabajo esta orientado hacia las necesidades del cliente con la entrega de soluciones, productos y servicios de excelencia y calidad probadas, junto a un servicio post venta y asistencia técnica permanente.
    .row.bottom-offset-half
      .col-md-6.no-left-padding.col-xs-12
        img.img-responsive(src="/img/quienes_somos/MISION.jpg")
        h4 Misión
          //br
          //small President and founder
        p Nuestra Misión es proveer de soluciones integrales de excelencia, en el área INDUSTRIAL, basadas en ideas innovadoras y en el uso de productos y servicios d..."Historia de Bioscom
      .col-md-6.no-right-padding.col-xs-12
        img.img-responsive(src="/img/quienes_somos/VISION.jpg")
        h4 Visión
          //br
          //small President and founder
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.











