
extends ../partials/product

block vars
  - var title='Estética'

block product-vars
  - var title = 'Estética'
  - var type = 'estetica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/estetica/productos', text:'Biosmed'})
  - breadcrumbs.push({url:'/estetica/productos', text:'Estética'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "CAVISTAR R", "fullname": "CAVISTAR R", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "CaviStar R es un equipo médico eficaz de reducción de talla sin dolor y/o efectos secundarios. Cuenta con tecnología de última generación que garantiza la seguridad del paciente y la efectividad de los tratamientos. Cavistar R utiliza una emisión de onda estable de 28 khz que consigue el efecto decavitación. Cavistar R elimina adiposidades localizadas, combate la celulitis y aumenta la oxigenación y nutrición celular. Su avanzado software y sus parámetros de configuración, permiten individualizar la sesión, pudiendo regular la potencia y modalidad de emisión de la onda de cavitación ultrasónica, en función del nivel de grasa."
  - product.features.push("APLICACIONES : Adiposidades Localizadas, Sobrepeso, Celulitis. Nota: No se recomienda el tratamiento para obesidad moderada o severa.")
  - product.features.push("Peso: 5 kg aprox.")
  - product.features.push("Dimensiones: ancho: 500 mm, Largo: 540 mm, Alto: 330 mm")
  - product.features.push("CAVITACIÓN")
  - product.features.push("Frecuencia: 28 KHz")
  - product.features.push("Potencia Máxima 3W / cm2")
  - product.features.push("Modo funcionamiento: Pulsado y Continuo")
  - product.features.push("Display LCD")
  - product.features.push("Teclado membrana")
  - product.features.push("Fabricante: Renacer SRL")
  - product.features.push("Modelo: Cavistar R")
  - product.features.push("Marca: Starbene")
  - product.features.push("Clasificacion IEC: 606011: Equipo Clase I tipo BF")
  - products.push(product)









