
extends ../../partials/product

block vars
  - var title='Monitoreo de signos vitales veterinarios'

block product-vars
  - var title = 'Monitoreo de signos vitales veterinarios'
  - var type = 'medica'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/medica/productos', text:'Biosmed'})
  - breadcrumbs.push({url:'/medica/veterinaria', text:'Veterinaria'})
  - breadcrumbs.push({url:'/medica/veterinaria/monitores', text:'Monitoreo de signos vitales veterinarios'})
  //  - var products = [{"name":"Ritter 204","fullname":"Mesa de Examen Ginecológico Ritter 204.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 222 / Midmark 622","fullname":"Mesa de Examen Ginecológico Ritter 222 / Midmark 622.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Ritter 223 / Midmark 623","fullname":"Mesa de Examen Ginecológico Ritter 223 / Midmark 623.","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Iluminación","fullname":"Iluminación","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "},{"name":"Pisos ritter","fullname":"Pisos ritter","img":"/img/equipos/mesas.jpg","features":["Respaldo Hidráulico","Escabel incorporado y retráctil","Taqueras retráctiles y movimiento de abanico","Receptáculo de contaminados","Cajones al frente y a un costado","Con interruptores incorporados para enchufar equipos (220V)","Color a elección","Peso Máximo 225 Kg."],"info":"Midmark Ritter posee una cultura corporativa como ninguna otra en el mercado. Al continuar creciendo cada año y a través de cada generación, se mantiene comprometida hacia sus clientes, sus compañeros, su comunidad y hacia una eficaz asistencia médica. Midmark es también una de las empresas líderes en suministración de productos y servicios para los profesionales de la salud, integrando tecnología con valor agregado y un apasionado deseo de entregar una diferencia positiva en la práctica del cuidado de la salud. "}]
  - var products = []
  - var product = {"name": "Bionet BM1", "fullname": "Monitor de Signos Vitales Veterinarios BM1 Vet", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "USO: Adulto, Pediátrico y Neonatal  Parámetros: SPO2, PANI, FC"
  - product.features.push("Monitor Multiparámetro a color.")
  - product.features.push("Delgado y Liviano diseñado para  montaje en Porta Suero o transporte")
  - product.features.push("Pantalla de 4.3” TFT LCD")
  - product.features.push("Alarmas visuales para identificación clara")
  - product.features.push("Navegación de un toque para un simple y fácil control")
  - product.features.push("Interface USB para  comunicación con PC")
  - product.features.push("Interface LAN para comunicación con Central de Monitoreo")
  - product.features.push("Entrada DC para conectar a Vehículo")
  - product.features.push("Proceso de alto performance, detección de marcapaso")
  - product.features.push("Alarmas de alta y baja para todos los parámetros")
  - product.features.push("Batería recargable  Autonomía 4 horas con funcionamiento full")
  - product.features.push("Memoria para 128 horas")
  - product.features.push("Incluye:")
  - product.features.push("1 sensor de Sp02")
  - product.features.push("1 brazalete PNI")
  //- product.features.push("1 Cuff de Presión Arterial Adulto")
  //- product.features.push("1 Sensor de saturación  tipo Clip adulto")
  //- product.features.push("Manual de uso")
  - products.push(product)
  - product = {"name": "BIONET BM3 Vet", "fullname": "Monitor de Signos Vitales Veterinarios BM3 Vet", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "USO: Adulto, Pediátrico y Neonatal  Parámetros: SPO2, PANI, FC"
  - product.features.push("Monitor Multiparámetro a color.")
  - product.features.push("ECG, SPo2, NIBP, RESP, 2TEMP")
  - product.features.push("Pantalla de 5,7”.")
  - product.features.push("Canal de ECG, tendencia de hasta 24 horas.")
  - product.features.push("Intervalo de NIBP configurable desde 1 a 120 minutos.")
  //- product.features.push("")
  - product.features.push("Uso en pequeños y grandes animales.")
  - product.features.push("Transportable.")
  //- product.features.push("Análisis de Arritmias: VTAC – VFIB- ASISTOLIA")
  - product.features.push("Garantía de fabricación de 1 año")
  - product.features.push("Batería recargable  Autonomía 4 horas")
  - product.features.push("2 canales de presión invasiva")
  - product.features.push("ETCO2 (OPCIONAL)")
  - product.features.push("Incluye:")
  - product.features.push("Cable de poder")
  - product.features.push("Batería Recargable")
  - product.features.push("Cable ECG 3 derivaciones")
  - product.features.push("Cable y conexión NIBP")
  - product.features.push("2 brazaletes NIBP")
  - product.features.push("Manual de uso")
  - products.push(product)
  - product = {"name": "Bionet BM5 VET", "fullname": "Monitor de Signos Vitales Veterinarios BM5 Vet.", "features":[], "img": "/img/equipos/mesas.jpg", "downloadLink": "#"}
  - product.info = "Monitor de signos vitales marca Bionet, modelo BM5vet, procedencia Corea. Configuración para uso en Medicina Veterinaria."
  - product.features.push("Monitor Multiparámetro a color.")
  - product.features.push("ECG, SPo2, NIBP, RESP, TEMP, 2 canales IBP.")
  - product.features.push("Pantalla de 10,4”.")
  - product.features.push("Canal de ECG, tendencia de hasta 48 horas.")
  - product.features.push("Intervalo de NIBP configurable desde 1 a 120 minutos.")
  - product.features.push("Proceso de alto performance.")
  - product.features.push("Uso adulto-pediátrico con alarma configurable")
  - product.features.push("Transportable.")
  - product.features.push("Análisis de Arritmias: VTAC – VFIB- ASISTOLIA")
  - product.features.push("Garantía de fabricación de 1 año")
  - product.features.push("Batería recargable  Autonomía 3,5 horas")
  - product.features.push("2 canales de presión invasiva")
  - product.features.push("ETCO2 (OPCIONAL)")
  - product.features.push("Incluye:")
  - product.features.push("Cable de poder")
  - product.features.push("Batería Recargable")
  - product.features.push("Cable ECG 3 derivaciones")
  - product.features.push("Cable y conexión NIBP")
  - product.features.push("2 brazaletes NIBP")
  - product.features.push("Manual de uso")
  - products.push(product)

