
extends ../partials/layout.jade

block vars
  - var title='Home'
  - var hideContact = true



block extra-scripts
  script(src="https://maps.googleapis.com/maps/api/js")
  //- build:js /scripts/contacto.js
  script(src="/bower_components/gmaps/gmaps.min.js")
  script(src="/js/contacto.js")
  //- endbuild

block page-content
  - var active = 'contacto'
  include ../partials/navbar-industrial
  .container
    .row
      img.img-responsive(src="/img/contacto/oficina.jpg")

    .row.bottom-offset-half
      p Dirección Edificio corporativo Alférez Real 1380 - Providencia - Santiago Chile · Teléfonos (+56-2) 22473570 - (+56-2) 22473580
        |  Ventas:
        a(href="mailto:industrial@bioscom.cl") industrial@bioscom.cl
        |  Servicio técnico:
        a(href="mailto:servicio.industrial@bioscom.cl") servicio.industrial@bioscom.cl
        |  Horario de atención de Lunes a Viernes de 9:00 a 18:30 horas, horario contínuo.

    .row
      #map.col-xs-12.col-md-6

      .col-md-6.col-xs-12
        form#contact(role='form',  method='post')
          h3(style='margin-top:0px;') Contáctenos
          .well.well-sm
            strong
              i.glyphicon.glyphicon-ok
              |  Campos requeridos
          .form-group
            .input-group
              input#InputName.form-control(type='text', name='name', placeholder='Nombre', required)
              span.input-group-addon
                i.glyphicon.glyphicon-ok.form-control-feedback
          .form-group
            .input-group
              input#InputEmail.form-control(type='email', name='mail', placeholder='Email', required)
              span.input-group-addon
                i.glyphicon.glyphicon-ok.form-control-feedback
          .form-group
            .input-group
              textarea#InputMessage.form-control(name='message', rows='5', required, placeholder="Mensaje")
              span.input-group-addon
                i.glyphicon.glyphicon-ok.form-control-feedback
          input#submit.btn.btn-info.pull-right(type='submit', name='submit', value='Enviar')

