@import config
@import normalize


screen-xs = 320px
screen-sm = 480px
screen-md = 768px
screen-lg = 992px
screen-xl = 1200px
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
/*
** Remove styles below; only here as a test
** This file should only contain @import files
*/

body
  color: color-darkest
  background-color color-lightest
  > *
    color: color-darkest

a
  color: color-darkest

button
  font-family: font-sans

img
  width 100%
  &.default-size
    width inherit



.navbar
  box-shadow 0 7px 15px 0 rgba(0, 0, 0, 0.12);
  transition box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1)
  &.navbar
    background-color transparent
    color: color-darkest
    margin-bottom 2px
    z-index 2
    li.active
      a
        background-color rgba(color-darkest,0.1)
.navbar-brand
  padding 5px
  img
    max-height 95%


.bx-wrapper
  box-shadow none
  border 0

.bottom-offset
  margin-bottom 20px
  padding-bottom 30px

.bottom-offset-half
  margin-bottom 10px
  padding-bottom 15px

.bw-filter
  filter grayscale(100%)
  transition .5s all linear
  &:hover
    filter grayscale(0)
    transition .5s all linear


.section-logo
  background-position 0
  width 115px
  height 115px
  border 0
  transition all .4s linear
  margin 0 auto
  &.medica
    background-image url('/img/secciones/S1.jpg')
  &.industrial
    background-image url('/img/secciones/S2.jpg')
  &.estetica
    background-image url('/img/secciones/S3.jpg')
  &:hover
    background-position-y -40px
    //box-shadow  0px 40px 5px 0px rgba(color-darkest, 0.25);

footer
  .social-network
    li:first-child
      padding-left 15px
    li
      padding-right: 15px
  .speciality
    padding-left: 0px
    li
      position relative
      padding 0 0 7px 20px
    li:before
      content ''
      background url("/img/sprite.png") 0 0 no-repeat
      position absolute
      top 6px
      left 0
      display block
      width 5px
      height 5px

@media only screen and (min-width: screen-md)
  .row-no-padding
    [class*="col-"]
      padding-left: 0 !important;
      padding-right: 0 !important;

  .row-no-left-padding
    [class*="col-"]
      padding-left: 0 !important;

  .row-no-right-padding
    [class*="col-"]
      padding-right: 0 !important;

  .no-padding
    &[class*="col-"]
      padding-left: 0 !important;
      padding-right: 0 !important;

  .no-left-padding
    &[class*="col-"]
      padding-left: 0 !important;

  .no-right-padding
    &[class*="col-"]
      padding-right: 0 !important;

.products-list
  figure
    border: 2px solid rgba(color-darkest, 0.2)
    background-color rgba(color-darkest, 0.2)
  figcaption
    *
      font-weight bold
      color rgba(color-darkest, 0.5)

.product
  border-bottom 1px solid rgba(color-darkest, 0.5)
  padding-bottom 1em
  margin-top: 1em
  cursor pointer
  &.active
    color rgba(color-darkest, 0.5)
    cursor default


#map
  height 300px




