
extends ../../partials/product

block vars
  - var title='Cadmio'

block product-vars
  - var title = 'Cadmio'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/cadmio', text:'Cadmio'})
  - var products = []
  - var product = {"name": "D-73", "fullname": "D-73", "features":[], "img": "/img/equipos/d73.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH - ORP - Ión Especifico (2 Canales)"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










