
extends ../../partials/product

block vars
  - var title='Cloro'

block product-vars
  - var title = 'Cloro'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/cloro', text:'Cloro'})
  - var products = []
  - var product = {"name": "Chlorometer", "fullname": "Chlorometer", "features":[], "img": "/img/equipos/chlorometer.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil digital de cloro libre residual"
  - products.push(product)
  - var product = {"name": "Comparator", "fullname": "Comparator", "features":[], "img": "/img/equipos/comparator.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil visual (comparador visual) de cloro libre residual"
  - products.push(product)
  - var product = {"name": "Chlorine Pocket", "fullname": "Chlorine Pocket", "features":[], "img": "/img/equipos/chlorinePocket.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil digital de cloro libre residual"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










