
extends ../../partials/product

block vars
  - var title='Conductividad'

block product-vars
  - var title = 'Conductividad'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/conductividad', text:'Conductividad'})
  - var products = []
  - var product = {"name": "D-74", "fullname": "D-74", "features":[], "img": "/img/equipos/d74.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH - ORP (Canal 1) - Conductividad - Resistividad - Salinidad - TDS (canal 2)"
  - products.push(product)
  - var product = {"name": "ES-71", "fullname": "ES-71", "features":[], "img": "/img/equipos/es71.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de Conductividad - Resistividad - Salinidad - TDS (1 Canal)"
  - products.push(product)
  - var product = {"name": "B-771", "fullname": "B-771", "features":[], "img": "/img/equipos/b771.jpg", "downloadLink": "#"}
  - product.info = "Analizador de Conductividad portátil, tipo lápiz, modelo Laquatwin"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










