
extends ../../partials/product

block vars
  - var title='ORP'

block product-vars
  - var title = 'ORP'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/orp', text:'ORP'})
  - var products = []
  - var product = {"name": "D-75", "fullname": "D-75", "features":[], "img": "/img/equipos/d75.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH - ORP (Canal 1) - Oxígeno Disuelto (canal 2)"
  - products.push(product)
  - var product = {"name": "D-74", "fullname": "D-74", "features":[], "img": "/img/equipos/d74.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH - ORP (Canal 1) - Conductividad - Resistividad - Salinidad - TDS (canal 2)"
  - products.push(product)
  - var product = {"name": "D-73", "fullname": "D-73", "features":[], "img": "/img/equipos/d73.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH - ORP - Ión Especifico (2 Canales)"
  - products.push(product)
  - var product = {"name": "D-72", "fullname": "D-72", "features":[], "img": "/img/equipos/d72.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH - ORP (1 Canal)"
  - products.push(product)
  - var product = {"name": "D-71", "fullname": "D-71", "features":[], "img": "/img/equipos/d71.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de pH (1 Canal)"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










