
extends ../../partials/product

block vars
  - var title='Oxigeno Disuelto'

block product-vars
  - var title = 'Oxigeno Disuelto'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/oxigeno-disuelto', text:'Oxigeno Disuelto'})
  - var products = []
  - var product = {"name": "OM-71-2", "fullname": "OM-71-2", "features":[], "img": "/img/equipos/om712.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de Oxígeno Disuelto, Largo del cable 2 metros"
  - products.push(product)
  - var product = {"name": "OM-71-10", "fullname": "OM-71-10", "features":[], "img": "/img/equipos/om7110.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de Oxígeno Disuelto, Largo del cable 10 metros"
  - products.push(product)
  - var product = {"name": "Micro 800", "fullname": "Micro 800", "features":[], "img": "/img/equipos/micro800.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de Oxígeno disuelto con tecnologia Optica"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










