

extends ../../partials/product

block vars
  - var title='Sal'

block product-vars
  - var title = 'Sal'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/sal', text:'Sal'})
  - var products = []
  - var product = {"name": "B-721", "fullname": "B-721", "features":[], "img": "/img/equipos/b721.jpg", "downloadLink": "#"}
  - product.info = "Analizador de Sal portátil, tipo lápiz, modelo Laquatwin"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










