

extends ../../partials/product

block vars
  - var title='Turbidímetros'

block product-vars
  - var title = 'Turbidímetros'
  - var type = 'industrial'
  - var breadcrumbs = [];
  - breadcrumbs.push({url:'/industrial/productos', text:'Industrial'})
  - breadcrumbs.push({url:'/industrial/portatiles', text:'portatiles'})
  - breadcrumbs.push({url:'/industrial/portatiles/turbidimetros', text:'Turbidímetros'})
  - var products = []
  - var product = {"name": "PT090", "fullname": "PT090", "features":[], "img": "/img/equipos/pt090.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de turbiedad y Solidos Suspendidos "
  - products.push(product)
  - var product = {"name": "Micro TPI", "fullname": "Micro TPI", "features":[], "img": "/img/equipos/microtpi.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de turbiedad, emisor LED"
  - products.push(product)
  - var product = {"name": "Micro TPW", "fullname": "Micro TPW", "features":[], "img": "/img/equipos/microtpw.jpg", "downloadLink": "#"}
  - product.info = "Analizador portátil de turbiedad, emisor Tungsteno"
  - products.push(product)
  //- product.features.push("Receptáculo de contaminados")
  //- product.features.push("Cajones al frente y a un costado")
  //- product.features.push("Con interruptores incorporados para enchufar equipos (220V)")
  //- product.features.push("Color a elección")
  //- product.features.push("Peso Máximo 225 Kg.")










